<!--查询表单-->
<form class="form-inline list-check">
    <div class="row">
        <div class="form-group col-md-5">
            <label>门店名称</label>
            <div class="input-group col-md-6">
                <select id="selectStore" class="form-control">
                    <!--<option value="">请选择</option>-->
                    <option ng-repeat="x in myStore" value="{{x[0]}}">{{x[1]}}</option>
                </select>
                <span class="select-jiao"></span>
            </div>
        </div>
        <div class="form-group col-md-7">
            <label>交易完成时间</label>
            <!--<date-choice class="input-group timePicker col-md-9"></date-choice>-->
            <div class="input-group timePicker col-md-9">
                <input type="text" name="reservation" id="completeDate" class="form-control"/>
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-5">
            <label>支付方式</label>
            <div class="input-group col-md-5">
                <select class="form-control" id="payWay">
                    <option value="">请选择</option>
                    <option value="0">现金</option>
                    <option value="1">鼓励金</option>
                    <option value="2">现金+鼓励金</option>
                </select>
                <span class="select-jiao"></span>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label>订单类型</label>
            <div class="input-group col-md-5">
                <select class="form-control" id="orderType">
                    <option value="">请选择</option>
                    <option value="0">普通订单</option>
                    <option value="1">乐加订单</option>
                </select>
                <span class="select-jiao"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-5">
            <label>订单号</label>
            <input type="text" class="form-control" id="orderSid">
        </div>
        <div class="form-group col-md-5">
            <label>订单状态</label>
            <div class="input-group col-md-5">
                <select class="form-control">
                    <option value="">请选择</option>
                    <option value="0">现金</option>
                    <option value="1">鼓励金</option>
                    <option value="2">现金+鼓励金</option>
                </select>
                <span class="select-jiao"></span>
            </div>
            <button type="button" class="btn btn-warning btn-check2" style="margin-left: 20px" ng-click="searchByCriteria()">查询</button>
        </div>
    </div>
</form>
<!--表格信息总结-->
<div class="container-fluid row">
    <p class="ttl-add table-title col-md-10">
        所选条件下，共有<span class="font-yellow" ng-bind="totalData[0][0]"></span>条交易记录，
        总流水<span class="font-yellow" ng-bind="'￥'+totalData[0][1]/100.0"></span>，
        实际到账<span class="font-yellow" ng-bind="'￥'+totalData[0][2]/100.0"></span>，
        总手续费<span class="font-yellow" ng-bind="totalData[0][3]/100.0"></span>。&nbsp;&nbsp;&nbsp;&nbsp;
        普通订单<span class="font-yellow" ng-show="commonData!=null">{{commonData[0][0]}}</span><span class="font-yellow"
                                                                                                  ng-show="commonData==null">0</span>笔，
        总流水<span class="font-yellow" ng-show="commonData!=null">￥{{commonData[0][1]/100.0}}</span><span
        class="font-yellow" ng-show="commonData==null">￥0</span>,
        实际到账<span class="font-yellow" ng-show="commonData!=null">￥{{commonData[0][2]/100.0}}</span><span
        class="font-yellow" ng-show="commonData==null">￥0</span>,
        手续费<span class="font-yellow" ng-show="commonData!=null">￥{{commonData[0][3]/100.0}}</span><span
        class="font-yellow" ng-show="commonData==null">￥0</span>。&nbsp;&nbsp;&nbsp;&nbsp;
        乐加订单<span class="font-yellow" ng-show="lejiaData!=null">{{lejiaData[0][0]}}</span><span class="font-yellow"
                                                                                                ng-show="lejiaData==null">0</span>笔，
        总流水<span class="font-yellow" ng-show="lejiaData!=null">￥{{lejiaData[0][1]/100.0}}</span><span
        class="font-yellow" ng-show="lejiaData==null">￥0</span>，
        实际到账<span class="font-yellow" ng-show="lejiaData!=null">￥{{lejiaData[0][2]/100.0}}</span><span
        class="font-yellow" ng-show="lejiaData==null">￥0</span>，
        手续费<span class="font-yellow" ng-show="lejiaData!=null">￥{{lejiaData[0][3]/100.0}}</span><span
        class="font-yellow" ng-show="lejiaData==null">￥0</span>。
    </p>
    <div class="col-md-2 clearfix" ng-show="payWay==3" style="padding-right: 0">
        <div class="btn btn-warning btn-long pull-right" ng-click="historyTradeRecord()" style="margin-top: 27px">历史记录</div>
    </div>
</div>

<!--表格-->
<div class="panel panel-default">
    <table class="table ol-tab">
        <thead class="active">
        <tr>
            <td>订单号</td>
            <td>交易门店</td>
            <td>支付方式</td>
            <td>确认码</td>
            <td>交易完成时间</td>
            <td>订单金额</td>
            <td>订单类型</td>
            <td>订单状态</td>
        </tr>
        </thead>
        <!--乐加结算-->
        <tbody ng-if="payWay!=3">
        <tr class="tr-empty" id="notData" hidden="true">
            <td class="text-center" colspan="8">暂无数据！</td>
        </tr>
        <tr class="tr-noEmpty" ng-repeat="o in orderList" id="HaveData">
            <td ng-bind="o.orderSid"></td>
            <td ng-bind="o.merchant.name"></td>
            <td ng-bind="o.payWay.payWay"></td>
            <td ng-bind="o.lepayCode"></td>
            <td>
                <p ng-bind="o.completeDate|date:'yyyy-MM-dd HH:mm:ss'"></p>
            </td>
            <td ng-bind="'¥'+o.totalPrice/100.0"></td>
            <td ng-show="o.rebateWay==0||o.rebateWay==2||o.rebateWay==4||o.rebateWay==5||o.rebateWay==6"><p>普通订单</p>
            </td>
            <td ng-show="o.rebateWay==3||o.rebateWay==1"><p>乐加订单</p></td>
            <td>
                <p ng-show="o.state=1">支付成功</p>
                <p ng-show="o.state=0">未完成</p>
            </td>
        </tr>
        </tbody>
        <!--易宝结算-->
        <tbody ng-if="payWay==3">
        <tr class="tr-empty" hidden="true">
            <td class="text-center" colspan="8">暂无数据！</td>
        </tr>
        <tr class="tr-noEmpty" ng-repeat="o in orderList">
            <td ng-bind="o.orderSid"></td>
            <td ng-bind="o.merchant.name"></td>
            <td ng-show="o.scanCodeOrderExt.payType==0">微信</td>
            <td ng-show="o.scanCodeOrderExt.payType==1">支付宝</td>
            <td ng-bind="o.lePayCode"></td>
            <td>
                <p ng-bind="o.completeDate|date:'yyyy-MM-dd HH:mm:ss'"></p>
            </td>
            <td ng-bind="'¥'+o.totalPrice/100.0"></td>
            <td ng-show="o.orderType==12001||o.orderType==12002||o.orderType==12003||o.orderType==12006">普通订单</td>
            <td ng-show="o.orderType==12004||o.orderType==12005">乐加订单</td>
            <td>
                <p ng-show="o.state==1">支付成功</p>
                <p ng-show="o.state==0">未完成</p>
                <p ng-show="o.state==2">已退款</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--分页-->
<div class=" clearfix">
    <nav class="pull-right">
        <a class="pull-right dcbg" ng-click="exportExcel()">导出表格</a>
        <ul class="pagination">
            <li ng-class="{disabled: page==1}" ng-click="loadPage(1)"><a>&laquo;</a></li>
            <li ng-class="{disabled: page==1}" ng-click="loadPage(page-1)">
                <a aria-label="Previous"><span aria-hidden="true">‹</span></a>
            </li>
            <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
            <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
            <li class="active" ng-click="loadPage(page)"><a>{{page}}</a></li>
            <li ng-show="page < totalPages" ng-click="loadPage(page + 1)"><a>{{page +
                1}}</a>
            </li>
            <li ng-show="page < totalPages - 1" ng-click="loadPage(page + 2)"><a>{{page +
                2}}</a>
            </li>
            <li ng-class="{disabled: page==totalPages||totalPages==0}"
                ng-click="loadPage(page+1)"><a aria-label="Next">
                <span aria-hidden="true">›</span>
            </a></li>
            <li ng-class="{disabled: page==totalPages||totalPages==0}"
                ng-click="loadPage(totalPages)"><a>&raquo;</a>
            </li>
        </ul>
    </nav>
</div>
