<style>
    .hui {
        position: absolute;
        cursor: pointer;
        background-color: #fb991a;
        color: #ffffff;
        padding:4px 8px;
        margin-left: 4px;
        margin-top: -5px;
        -webkit-border-radius:5px 5px;
        -moz-border-radius:5px 5px;
        border-radius:5px 5px;
    }
    .msgBoard {
        position: absolute;
        width: 300px;
        height: 115px;
        padding: 10px 0 0 1%;
        background-color: RGBA(0,0,0,0.5);
        -webkit-border-radius:5px 5px;
        -moz-border-radius:5px 5px;
        border-radius:5px 5px;
        display: none;
    }
    .msgBoard > div {
        color: #fff;
        margin-bottom: 10px;
    }
</style>
    <!--查询表单-->
<form class="form-inline list-check">
    <div class="row">
        <div class="form-group col-md-5">
            <label>门店名称</label>
            <div class="input-group col-md-6">
                <select id="selectStore" class="form-control">
                    <!--<option value="">请选择</option>-->
                    <option ng-repeat="x in myStore" value="{{x[0]+'-'+x[2]}}">{{x[1]}}</option>
                </select>
                <span class="select-jiao"></span>
            </div>
        </div>
        <div class="form-group col-md-7">
            <label>退款完成时间</label>
            <!--<date-choice class="input-group timePicker col-md-9"></date-choice>-->
            <div class="input-group timePicker col-md-9">
                <input type="text" name="reservation" id="completeDate" class="form-control"/>
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-5">
            <label>订单号</label>
            <input type="text" class="form-control" style="width: 60% !important;" id="orderSid">
        </div>
        <div class="form-group col-md-5">
            <label>订单类型</label>
            <div class="input-group col-md-5">
                <select class="form-control" id="orderType">
                    <option value="-1">全部订单</option>
                    <option value="0">普通订单</option>
                    <option value="1">乐加订单</option>
                </select>
                <span class="select-jiao"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-5">
            <label>状态</label>
            <div class="input-group col-md-5">
                <select class="form-control" id="orderState">
                    <option value="-1">全部</option>
                    <option value="0">待退款</option>
                    <option value="1">未开始退款</option>
                    <option value="2">退款成功</option>
                    <option value="3">退款失败</option>
                </select>
                <span class="select-jiao"></span>
            </div>
        </div>
        <button type="button" class="btn btn-warning btn-check2" style="margin-left: 20px"
                ng-click="searchByCriteria()">查询
        </button>
    </div>

</form>

<!--表格-->
<div class="panel panel-default">
    <table class="table ol-tab">
        <thead class="active">
        <tr>
            <td>退款单号</td>
            <td>订单编号</td>
            <td>门店ID</td>
            <td>清算日期</td>
            <td>退款完成时间</td>
            <td>退款金额</td>
            <td>订单类型</td>
            <td>状态</td>
        </tr>
        </thead>
        <!--乐加结算-->
        <tbody ng-if="payWay==1||payWay==null||pawWay==2">
        <tr class="tr-empty" id="notData" hidden="true">
            <td class="text-center" colspan="8">暂无数据！</td>
        </tr>
        <tr class="tr-noEmpty" ng-repeat="o in orderList" id="HaveData">
            <td ng-bind="o.refundOrderSid"></td>
            <td ng-bind="o.orderSid"></td>
            <td ng-bind="o.merchantId"></td>
            <td ng-bind="o.tradeDate"></td>
            <td>
                <p ng-bind="o.dateCompleted|date:'yyyy-MM-dd HH:mm:ss'"></p>
            </td>
            <td>
                ￥{{o.totalAmount/100.0}}
            </td>
            <td ng-show="o.orderType==0"><p>普通订单</p>
            </td>
            <td ng-show="o.orderType==1"><p>乐加订单</p></td>
            <td>
                <p ng-show="o.state==0">待退款</p>
                <p ng-show="o.state==1">未开始退款</p>
                <p ng-show="o.state==2">退款成功</p>
                <p ng-show="o.state==3">退款失败</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--分页-->
<div class=" clearfix">
    <nav class="pull-right">
        <!--<a class="pull-right dcbg" ng-click="exportExcel()">导出表格</a>-->
        <ul class="pagination">
            <li ng-class="{disabled: page==1}" ng-click="loadPage(1)"><a>&laquo;</a></li>
            <li ng-class="{disabled: page==1}" ng-click="loadPage(page-1)">
                <a aria-label="Previous"><span aria-hidden="true">‹</span></a>
            </li>
            <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
            <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
            <li class="active" ng-click="loadPage(page)"><a>{{page}}</a></li>
            <li ng-show="page < totalPages" ng-click="loadPage(page + 1)"><a>{{page +
                1}}</a>
            </li>
            <li ng-show="page < totalPages - 1" ng-click="loadPage(page + 2)"><a>{{page +
                2}}</a>
            </li>
            <li ng-class="{disabled: page==totalPages||totalPages==0}"
                ng-click="loadPage(page+1)"><a aria-label="Next">
                <span aria-hidden="true">›</span>
            </a></li>
            <li ng-class="{disabled: page==totalPages||totalPages==0}"
                ng-click="loadPage(totalPages)"><a>&raquo;</a>
            </li>
        </ul>
    </nav>
</div>
