<style>
    .line {
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }
    .w-title {
        width: 100%;
    }
    .w-title > div:first-child{
        float: left;
    }
    .w-title > div:last-child{
        width: 40%;
        float: right;
        text-align: right;
        margin-top: 24px;
    }
    .btn-set > span {
        margin-right: 20px;
        font-size: 16px;
        color:#333;
    }
    .tc {
        margin-bottom: 20px !important;
    }
    .line > .row > div {
        padding: 50px 0;
        text-align: center;
    }
    .line > .row > div:first-child {
        border-right: 1px solid #dddddd;
    }
    .line > .row > div > p:last-child {
        font-size: 16px;
        color:#333;
    }
    .line > .row > div:first-child > p:first-child {
        font-size: 40px;
        color:#f54339;
    }
    .line > .row > div:last-child > p:first-child {
        font-size: 40px;
        color:#fb991a;
    }
    .rechargeStyle {
        padding: 40px 0;
    }
    .rechargeStyle > div:first-child {
        margin-bottom: 30px;
    }
    .rechargeStyle > div {
        width: 80%;
        margin: 0 auto;
        font-size: 16px;
        color:#333;
    }
    .rechargeStyle  input {
        margin: 0 20px;
    }
    .form-control {
        display: inline !important;
        width: 40% !important;
    }
    .success > div > div {
        float: left;
    }
    .success > div > div:last-child {
        margin:12px 0 0 20px;
        font-size: 20px;
        color:#333;
    }
    .success > div {
        width: 270px;
        margin: 0 auto;
    }
    .success p {
        text-align: center;
        margin-top: 28px;
        color:#666;
    }
    .w-width {
        width: 98%;
    }
    .success > div:after,.w-title:after {
        content: '\20';
        display: block;
        clear: both;
    }
</style>
<div class="container-fluid content main-content user-manager">
    <div class="container-fluid">
        <div class="w-title">
            <div class="ttl tc">营销账户</div>
            <div class="btn-set">
                <span>已发放：{{totalScorea-availableScoreA}} 元 和 {{totalScorea-availableScoreB}} 积分</span>
                <button type="button" class="btn btn-warning"  data-toggle="modal" data-target="#pffl-recharge">充值</button>
            </div>
        </div>
        <!--显示信息-->
        <div class="form-inline line">
            <div class="row">
                <div class="form-group col-md-6">
                    <p>￥{{availableScoreA}}</p>
                    <p>红包账户余额（元）</p>
                </div>
                <div class="form-group col-md-6">
                    <p>{{availableScoreB}}</p>
                    <p>积分账户余额</p>
                </div>
            </div>
        </div>
        <div class="container-fluid content main-content partner-home">
            <div class="clearfix">
                <p class="ttl">营销记录</p>
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a ng-click="loadAll()">全部</a></li>
                    <li role="presentation" ng-click="loadIncrease()"><a>增值记录</a></li>
                    <li role="presentation" ng-class="{active:currentTab2}" ng-click="loadDecrease()"><a>减扣记录</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="panel panel-default">
                          <table class="table ol-tab">
                                <thead class="active">
                                <tr>
                                    <td>变更账户</td>
                                    <td>变更值</td>
                                    <td>变更项目</td>
                                    <td>变更时间</td>
                                    <td>备注</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="x in homeTab">
                                    <td ng-show="x.type==0">积分变更</td>
                                    <td ng-show="x.type==1">红包变更</td>
                                    <td ng-show="x.type==0">
                                        <span ng-bind="x.number"></span>
                                    </td>
                                    <td ng-show="x.type==1"><span ng-bind="'¥ '+x.number/100"></span></td>

                                    <td ng-show="x.scoreAOrigin==0">注册送红包</td>
                                    <td ng-show="x.scoreAOrigin==1">送邀请会员</td>
                                    <td ng-show="x.scoreBOrigin==0">注册送积分</td>
                                    <td ng-show="x.scoreBOrigin==1">送邀请会员</td>
                                    <td ng-bind="x.createDate|date:'yyyy/MM/dd HH:mm:ss'"></td>
                                    <td ng-bind="x.description"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane">
                        <div class="panel panel-default">
                            <table class="table ol-tab">
                                <thead class="active">
                                <tr>
                                    <td>变更账户</td>
                                    <td>变更值</td>
                                    <td>变更项目</td>
                                    <td>变更时间</td>
                                    <td>备注</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="x in homeTab">
                                    <td ng-show="x.type==0">积分变更</td>
                                    <td ng-show="x.type==1">红包变更</td>
                                    <td ng-show="x.type==0">
                                        <span ng-bind="x.number"></span>
                                    </td>
                                    <td ng-show="x.type==1"><span ng-bind="'¥ '+x.number/100"></span></td>

                                    <td ng-show="x.scoreAOrigin==0">注册送红包</td>
                                    <td ng-show="x.scoreAOrigin==1">送邀请会员</td>
                                    <td ng-show="x.scoreBOrigin==0">注册送积分</td>
                                    <td ng-show="x.scoreBOrigin==1">送邀请会员</td>
                                    <td ng-bind="x.createDate|date:'yyyy/MM/dd HH:mm:ss'"></td>
                                    <td ng-bind="x.description"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane">
                        <div class="panel panel-default">
                            <table class="table ol-tab">
                                <thead class="active">
                                <tr>
                                    <td>变更账户</td>
                                    <td>变更值</td>
                                    <td>变更项目</td>
                                    <td>变更时间</td>
                                    <td>备注</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="x in homeTab">
                                    <td ng-show="x.type==0">积分变更</td>
                                    <td ng-show="x.type==1">红包变更</td>
                                    <td ng-show="x.type==0">
                                        <span ng-bind="x.number"></span>
                                    </td>
                                    <td ng-show="x.type==1"><span ng-bind="'¥ '+x.number/100"></span></td>

                                    <td ng-show="x.scoreAOrigin==0">注册送红包</td>
                                    <td ng-show="x.scoreAOrigin==1">送邀请会员</td>
                                    <td ng-show="x.scoreBOrigin==0">注册送积分</td>
                                    <td ng-show="x.scoreBOrigin==1">送邀请会员</td>
                                    <td ng-bind="x.createDate|date:'yyyy/MM/dd HH:mm:ss'"></td>
                                    <td ng-bind="x.description"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--分页-->
            <div class=" clearfix">
                <nav class="pull-right">
                    <ul class="pagination">
                        <li ng-class="{disabled: page==1}" ng-click="loadPage(1)"><a>&laquo;</a></li>
                        <li ng-class="{disabled: page==1}" ng-click="loadPage(page-1)">
                            <a aria-label="Previous"><span aria-hidden="true">‹</span></a>
                        </li>
                        <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                        <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                        <li class="active" ng-click="loadPage(page)"><a>{{page}}</a></li>
                        <li ng-show="page < totalPages" ng-click="loadPage(page + 1)"><a>{{page +
                            1}}</a>
                        </li>
                        <li ng-show="page < totalPages - 1" ng-click="loadPage(page + 2)"><a>{{page +
                            2}}</a>
                        </li>
                        <li ng-class="{disabled: page==totalPages||totalPages==0}"
                            ng-click="loadPage(page+1)"><a aria-label="Next">
                            <span aria-hidden="true">›</span>
                        </a></li>
                        <li ng-class="{disabled: page==totalPages||totalPages==0}"
                            ng-click="loadPage(totalPages)"><a>&raquo;</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!--设置充值提示框-->
<div class="modal fade" id="pffl-recharge">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal"><span
                    aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <div class="logo-img"></div>
            </div>
            <div class="modal-body rechargeStyle">
                <div style="display: none;">
                    <div>充值红包<input type="number" class="form-control" placeholder="请输入充值红包金额" /><span>红包余额：2.00元</span></div>
                    <div>充值积分<input type="number" class="form-control" placeholder="请输入充值积分金额" /><span>积分余额：120积分</span></div>
                </div>
                <div class="success">
                    <div>
                        <div><img width="50" height="50" src="../../assets/styles/images/yxzh/success.png" alt=""/></div>
                        <div>您的充值申请已提交！</div>
                    </div>
                    <p>乐加客服将尽快和你取得联系，客服电话：400-0412-800</p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-div text-center">
                    <div style="display: none;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal" data-toggle="modal" data-target="#pffl-rechargeSuccess">确定</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-warning" data-dismiss="modal" data-toggle="modal" data-target="#pffl-rechargeSuccess">知道了</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
