<div class="container-fluid content main-content user-manager wdhy">
    <div class="container-fluid">
        <p class="ttl">我的会员</p>
        <!--查询表单-->
        <form class="form-inline">
            <div class="row">
                <div class="form-group col-md-6">
                    <label>锁定时间</label>

                    <div class="input-group timePicker col-md-8">
                        <input type="text" name="reservation" id="timePicker1"
                               class="form-control"/>
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <label>锁定商户</label>
                    <input type="text" class="form-control" id="merchantName" placeholder="请输入商户名称">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>导流消费</label>
                    <select name="" id="timeSelect" class="form-control">
                        <option value="2">大于</option>
                        <option value="1">等于</option>
                        <option value="0">小于</option>
                    </select>
                    <input type="number" id="consumptionTimes" class="form-control"
                           placeholder="请输入消费次数"/> 次
                </div>
                <div class="form-group col-md-6">
                    <label>为我带来</label>
                    <select name="" id="countSelect" class="form-control">
                        <option value="2">超过</option>
                        <option value="1">等于</option>
                        <option value="0">低于</option>
                    </select>
                    <input type="number" id="consumptionCount" class="form-control"
                           placeholder="请输入金额"/> 元收入
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="phone">手机号码</label>
                    <input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"
                           onafterpaste="this.value=this.value.replace(/\D/g,'')"
                           class="form-control" id="phone" placeholder="请输入手机号">
                </div>
                <div class="form-group col-md-5">
                    <label for="weixinNickNmame">微信昵称</label>
                    <input type="text" class="form-control" id="weixinNickNmame"
                           placeholder="请输入微信昵称">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <button style="margin-left: 38.5%" type="button"
                            class="btn btn-warning btn-check2"
                            ng-click="searchByCriteria()">查询
                    </button>
                </div>
            </div>

        </form>
        <div class="w-margin">
            <!--表格信息总结-->
            <p class="ttl-add clearfix">
                <span class="pull-right">共选择{{selectedCheckbox}}人&nbsp;&nbsp;<a
                    class="btn btn-warning w-cantCheck"
                    id="batchWelfare"
                    ng-click="selectedCheckbox==0||batchWelfareCheck()">批量发福利</a></span>
                <span
                    class="pull-left">注：所选条件下，共有<font><span
                    class="chooseNumber">{{totalElements}}</span></font>个会员，累计为我带来<font>￥{{totalIncome}}</font>收入</span>
            </p>
            <!--表格-->
            <div class="panel panel-default">
                <table class="table">
                    <thead class="active">
                    <tr>
                        <td class="clearfix"><span class="chbx pull-left"><input type="checkbox"
                                                                                 id="checkbox-1"><label
                            class="chbx-init">✔</label></span>微信信息
                        </td>
                        <td>锁定商户</td>
                        <td>锁定时间</td>
                        <td>红包/积分</td>
                        <td>导流次数</td>
                        <td>收入</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in pulls">
                        <td class="clearfix"><span class="chbx pull-left">
                            <input type="checkbox" class="checkbox-2" id="{{x[0]}}"
                                   ng-click="checkClick(x[0])" my-repeat-directive><label
                            class="chbx-init">✔</label></span>
                            <span class="touxiang pull-left"><img ng-src="{{x[2]}}" alt=""></span>
                            <span class="pull-left">
                                <span class="w-name" ng-bind="x[1]"></span><br/>
                                <span class="w-phone" ng-show="x[5]!=null">{{x[5]}}</span>
                                <span class="w-phone" ng-show="x[5]==null">--</span>
                            </span>
                        </td>
                        <td><span ng-bind="x[4]"></span></td>
                        <td>
                            <p ng-bind="x[3]|date:'yyyy-MM-dd'"></p>

                            <p ng-bind="x[3]|date:'HH:mm:ss'"></p>
                        </td>
                        <td>¥{{x[9]/100}}/{{x[10]}}</td>
                        <td>{{x[8]}}</td>
                        <td>¥{{x[7]/100.0}}</td>
                        <td><a ng-click="welfare(x)">发福利</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--分页-->
        <div class=" clearfix">
            <nav class="pull-right">
                <ul class="pagination">
                    <li ng-class="{disabled: page==1}" ng-click="loadPage(1)"><a>&laquo;</a></li>
                    <li ng-class="{disabled: page==1}" ng-click="loadPage(page-1)"><a
                        aria-label="Previous">
                        <span aria-hidden="true">‹</span>
                    </a></li>
                    <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                    <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                    <li class="active" ng-click="loadPage(page)"><a>{{page}}</a></li>
                    <li ng-show="page < totalPages" ng-click="loadPage(page + 1)"><a>{{page +
                        1}}</a>
                    </li>
                    <li ng-show="page < totalPages - 1" ng-click="loadPage(page + 2)"><a>{{page +
                        2}}</a>
                    </li>
                    <li ng-class="{disabled: page==totalPages||totalPages==0}"
                        ng-click="loadPage(page+1)"><a aria-label="Next">
                        <span aria-hidden="true">›</span>
                    </a></li>
                    <li ng-class="{disabled: page==totalPages||totalPages==0}"
                        ng-click="loadPage(totalPages)"><a>&raquo;</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!--批量发福利提示框-->
<div class="modal fade ffl1 col2-left" id="pffl">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal"><span
                    aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <div class="logo-img"></div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal w-pllMargin">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">发放对象</label>

                        <div class="col-sm-4 pffl-top"><span>{{selectedCheckbox-conflict}}个会员（已有{{conflict}}会员发放过福利）</span>
                        </div>
                    </div>
                    <div class="form-group w-ffla">
                        <label class="col-sm-2 control-label pffl-top">发放福利</label>

                        <div class="col-sm-6">
                            <div class="row pffl-top">
                                <div class="col-sm-3 col pffl-top"><span>发放红包</span></div>
                                <div class="col-sm-4">
                                    <input class="form-control w-limitHb" ng-model="hbNumBatch"
                                           type="number"
                                           placeholder="请输入红包金额">
                                </div>
                                <div class="col-sm-5 pffl-top"><span>红包余额：{{partnerWallet.availableScoreA/100.0|number:2}}元</span>
                                </div>
                            </div>
                            <div class="row w-cost">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4">
                                    消耗红包：¥{{hbNumBatch==null?0:hbNumBatch*(selectedCheckbox-conflict)|number
                                    :2}}
                                </div>
                            </div>
                            <div class="row pffl-top">
                                <div class="col-sm-3 pffl-top"><span>发放积分</span></div>
                                <div class="col-sm-4">
                                    <input class="form-control w-limitJf" ng-model="jfNumBatch"
                                           type="number"
                                           placeholder="请输入积分值">
                                </div>
                                <div class="col-sm-5 pffl-top"><span>积分余额：{{partnerWallet.availableScoreB}}积分</span>
                                </div>
                            </div>
                            <div class="row w-cost">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4">
                                    消耗积分：{{jfNumBatch==null?0:jfNumBatch*(selectedCheckbox-conflict)}}积分
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">留言<span
                            style="font-size: 14px">（选填）</span></label>

                        <div class="col-sm-6 pffl-top">
                            <textarea class="form-control w-pllTextarea" name="" id="" cols="30"
                                      rows="2"
                                      ng-model="liuyan"
                                      placeholder="请输入您给会员的留言信息，不超过50字。"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">点击后跳转</label>

                        <div class="col-sm-7">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio"
                                           name="optionsRadios"
                                           value="0"
                                           checked>
                                    我的钱包
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio"
                                           name="optionsRadios"
                                           value="1">
                                    甄品商城
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio"
                                           name="optionsRadios"
                                           value="2" n>
                                    周边好店
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="pffl-right">
                    <ul>
                        <li><span>到账金额：</span>￥{{hbNumBatch}}+{{jfNumBatch}}积分</li>
                        <li><span>到账时间：</span>{{date | date:'yyyy-MM-dd'}}</li>
                        <li><span>到账详情：</span>{{liuyan}}</li>
                    </ul>
                    <p class="w-p">乐+微信示意图</p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="P-writeTrueNumber" style="text-align: center;color:#e84644;display:none;">至少发送红包或积分！</div>
                <div class="btn-div">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-warning  "
                            ng-class="{disabled: available<=200}" ng-click="batchWelfare()">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--批量发福利成功提示框-->
<div class="modal fade ffl2" id="pffl-success">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal"><span
                    aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <div class="logo-img"></div>
            </div>
            <div class="modal-body">
                <div class="success-img"></div>
                <p class="text-center success-ttl">福利发放成功</p>

                <p class="w-costText">您本次成功发放{{hbNumBatch==null?0:hbNumBatch*(selectedCheckbox-conflict)|number
                    :2}}红包和{{jfNumBatch==null?0:jfNumBatch*(selectedCheckbox-conflict)}}积分</p>

                <div class="success-fl clearfix">
                    <div class="pull-left">红包余额：￥{{partnerWallet.availableScoreA/100.0|number:2}}
                    </div>
                    <div class="pull-right">积分余额：{{partnerWallet.availableScoreB}}积分</div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-div">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-warning  "
                            data-dismiss="modal">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--批量发福利限制提示框-->
<div class="modal fade ffl3" id="pffl-limit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <p class="w-flTitle">批量发福利</p>
                <button type="button" class="close" data-dismiss="modal"><span
                    aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <div class="logo-img"></div>
            </div>
            <div class="modal-body">
                <div>您一天只能给同一个会员发放{{partnerWallet.partner.benefitTime}}次福利</div>
            </div>
            <div class="modal-footer">
                <div class="btn-div text-center">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">知道了</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--发福利提示框-->
<div class="modal fade ffl1" id="ffl">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal"><span
                    aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <div class="logo-img"></div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal w-pllMargin">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">发放对象</label>

                        <div class="col-sm-1">
                            <img class="pffl-wxFace" src="{{currentUser[2]}}"
                                 alt="">
                        </div>
                        <div class="col-sm-3 pffl-top"><span>{{currentUser[1]}}</span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label pffl-top">发放福利</label>

                        <div class="col-sm-6">
                            <div class="row pffl-top">
                                <div class="col-sm-3 pffl-top"><span>发放积分</span></div>
                                <div class="col-sm-4">
                                    <input class="form-control" ng-model="jfNum" type="number"
                                           placeholder="请输入积分值">
                                </div>
                                <div class="col-sm-5 pffl-top"><span>积分余额：{{partnerWallet.availableScoreB}}积分</span>
                                </div>
                            </div>
                            <div class="row w-cost"></div>
                            <div class="row pffl-top">
                                <div class="col-sm-3 col pffl-top"><span>发放红包</span></div>
                                <div class="col-sm-4">
                                    <input class="form-control w-hb" ng-model="hbNum" type="number"
                                           placeholder="请输入红包金额">
                                </div>
                                <div class="col-sm-5 pffl-top"><span>红包余额：{{partnerWallet.availableScoreA/100.0|number:2}}元</span>
                                </div>
                                <div class="row w-cost"></div>
                                <div class="row w-cost"></div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">留言（选填）</label>

                        <div class="col-sm-6 pffl-top">
                            <textarea class="form-control w-pllTextarea" name="" id="" cols="30"
                                      rows="2"
                                      ng-model="description"
                                      placeholder="请输入您给会员的留言信息，不超过50字。"></textarea>
                        </div>

                        <div class="row w-cost"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">点击后跳转</label>

                        <div class="col-sm-7">
                            <div class="radio-inline">
                                <label>
                                    <input ng-click="itemsStateFun()" type="radio"
                                           name="optionsRadios-one"
                                           value="0"
                                           checked>
                                    我的钱包
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input ng-click="itemsStateFun()" type="radio"
                                           name="optionsRadios-one"
                                           value="1">
                                    甄品商城
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input ng-click="itemsStateFun()" type="radio"
                                           name="optionsRadios-one"
                                           value="2">
                                    周边好店
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row w-cost"></div>
                </form>
                <div class="pffl-right">
                    <ul>
                        <li><span>到账金额：</span>￥{{hbNum}}+{{jfNum}}积分</li>
                        <li><span>到账时间：</span>{{date | date:'yyyy-MM-dd'}}</li>
                        <li><span>到账详情：</span>{{description}}</li>
                    </ul>
                    <p class="w-p">乐+微信示意图</p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="P-writeTrueNumber" style="text-align: center;color:#e84644;display:none;">至少发送红包或积分！</div>
                <div class="btn-div">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-warning"
                            ng-click="welfareOneUser()">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--发福利成功提示框-->
<div class="modal fade ffl2" id="ffl-success">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal"><span
                    aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <div class="logo-img"></div>
            </div>
            <div class="modal-body">
                <div class="success-img"></div>
                <p class="text-center success-ttl">福利发放成功</p>

                <p class="w-costText">您本次成功发放{{hbNum}}红包和{{jfNum}}积分</p>

                <div class="success-fl clearfix">
                    <div class="pull-left">红包余额：￥{{partnerWallet.availableScoreA/100.0|number:2}}</div>
                    <div class="pull-right">积分余额：{{partnerWallet.availableScoreB}}积分</div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-div">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-warning  "
                            ng-class="{disabled: available<=200}" ng-click="withDraw()">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--发福利限制提示框-->
<div class="modal fade ffl3" id="ffl-limit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <p class="w-flTitle">发福利</p>
                <button type="button" class="close" data-dismiss="modal"><span
                    aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <div class="logo-img"></div>
            </div>
            <div class="modal-body">
                <div>您一天只能给同一个会员发放{{partnerWallet.partner.benefitTime}}次福利</div>
            </div>
            <div class="modal-footer">
                <div class="btn-div text-center">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">知道了</button>
                </div>
            </div>
        </div>
    </div>
</div>

