<div class="homePage">
    <div class="panel panel-default page-top">
        <div class="panel-body clearfix">
            首页 <input type="button" class="btn btn-default pull-right" value="账务对账">
        </div>
    </div>
    <div class="container-fluid">
        <p class="ttl">基本信息</p>
        <div class="row basic-info">
            <div class="col-md-2 col-md-offset-1">
                <div class="face-img">
                    <img src="../../../../assets/styles/images/merchant_2/homePage/mechantHeadPic.png" alt="">
                </div>
                <h5 class="text-center">{{shopName+'&nbsp;(&nbsp;'+account.login+'&nbsp;)&nbsp;'}}</h5>
            </div>
            <div class="col-md-8 ttl-top">
                <p class="money-ttl">
                    佣金余额
                    <span class="tooltip-problem" data-toggle="tooltip" data-placement="right" title="您店铺锁定的会员在乐加体系下的任何消费，都会给您带来佣金">?</span>
                </p>
                <p class="money-content clearfix">
                    <span class="pull-left">¥{{available}}</span>
                    <input type="button" class="btn btn-warning pull-left tx" data-target="#tx-success" data-toggle="modal" value="提现">
                    <a class="pull-left" ui-sref="withdrawRecord" ui-sref-opts="{reload: true}">查看提现详情</a>
                </p>
            </div>
        </div>
        <p class="ttl">商户数据</p>
        <div class="row merchant-data">
            <div class="col-md-3">
                <div class="out-div">
                    <p class="text-center">商户今日入账</p>
                    <p class="text-center" ng-bind="'¥'+srgl.firNum"></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="out-div">
                    <p class="text-center">商户累计入账</p>
                    <p class="text-center" ng-bind="'¥'+srgl.secNum"></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="out-div">
                    <p class="text-center">
                        会员消费金额/次数
                        <span class="tooltip-problem" data-toggle="tooltip" data-placement="top" title="乐加会员到您店铺消费的交易额和消费次数">?</span>
                    </p>
                    <p class="text-center" ng-bind="'¥'+srgl.thirNum+' / '+srgl.fouNum">></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="out-div">
                    <p class="text-center">
                        接收红包总额
                        <span class="tooltip-problem" data-toggle="tooltip" data-placement="top" title="乐加会员到店使用的红包总额。消费者使用的红包扣除相应手续费后，按1红包等于1元结算给商户">?</span>
                    </p>
                    <p class="text-center" ng-bind="'¥'+srgl.fifNum"></p>
                </div>
            </div>
        </div>
        <p class="ttl">交易看板</p>
    </div>
    <div class="panel panel-default page-bottom">
        <div class="panel-body clearfix">
            <div class="pull-left">
                当前门店
                <select name="" id="" class="current-store">
                    <option value="">-- 请选择 -- </option>
                    <option value="m.sid" ng-repeat="m in merchants">{{m.name}}</option>
                </select>
                <span>门店今日流水￥{{obinfo.firNum+obinfo.secNum}}，扫码流水￥{{obinfo.firNum}}，POS机流水￥{{obinfo.secNum}}，乐加会员消费￥{{obinfo.thirNum}}/{{obinfo.fouNum}}次</span>
            </div>
            <span class="pull-right">语音提醒 <i class="iconfont icon-2wodezhangdan18x20"></i></span>
        </div>
    </div>
    <div class="list-out-div">
        <div class="container-fluid clearfix dd-list">
            <div class="list pull-right">
                <div class="list-detail pull-right">
                    <div class="list-info1 clearfix">订单编号：32233324455255（确认码：12355888585858）<span class="pull-right hydd-font">会员订单</span></div>
                    <div class="list-info2 clearfix">
                        <span class="pull-left face-img"><img src="../../../../assets/styles/images/merchant_2/homePage/mechantHeadPic.png" alt=""></span>
                        <span class="pull-left nickname">夜空中最亮的星</span>
                        <span class="pull-right pay-detail">付款:75.00元<span>（微信支付70元+5元红包）</span></span>
                    </div>
                    <div class="left-icon"></div>
                </div>
                <div class="ddIcon hyIcon"></div>
                <div class="dd-time text-right">2016-11-20<br><span>16:16:16</span></div>
            </div>
            <div class="list pull-right">
                <div class="list-detail pull-right">
                    <div class="list-info1 clearfix">订单编号：32233324455255（确认码：12355888585858）<span class="pull-right dldd-font">导流订单</span></div>
                    <div class="list-info2 clearfix">
                        <span class="pull-left face-img"><img src="../../../../assets/styles/images/merchant_2/homePage/mechantHeadPic.png" alt=""></span>
                        <span class="pull-left nickname">夜空中最亮的星</span>
                        <span class="pull-right pay-detail">付款:75.00元<span>（微信支付70元+5元红包）</span></span>
                    </div>
                    <div class="left-icon"></div>
                </div>
                <div class="ddIcon dlIcon"></div>
                <div class="dd-time text-right">2016-11-20<br><span>16:16:16</span></div>
            </div>
            <div class="list pull-right">
                <div class="list-detail pull-right">
                    <div class="list-info1 clearfix">订单编号：32233324455255（确认码：12355888585858）<span class="pull-right ptdd-font">普通订单</span></div>
                    <div class="list-info2 clearfix">
                        <span class="pull-left face-img"><img src="../../../../assets/styles/images/merchant_2/homePage/mechantHeadPic.png" alt=""></span>
                        <span class="pull-left nickname">夜空中最亮的星</span>
                        <span class="pull-right pay-detail">付款:75.00元<span>（微信支付70元+5元红包）</span></span>
                    </div>
                    <div class="left-icon"></div>
                </div>
                <div class="ddIcon hyIcon"></div>
                <div class="dd-time text-right">2016-11-20<br><span>16:16:16</span></div>
            </div>
            <div class="list pull-right">
                <div class="list-detail pull-right">
                    <div class="list-info1 clearfix">订单编号：32233324455255（确认码：12355888585858）<span class="pull-right ptdd-font">普通订单</span></div>
                    <div class="list-info2 clearfix">
                        <span class="pull-left face-img"><img src="../../../../assets/styles/images/merchant_2/homePage/mechantHeadPic.png" alt=""></span>
                        <span class="pull-left nickname">夜空中最亮的星</span>
                        <span class="pull-right pay-detail">付款:75.00元<span>（微信支付70元+5元红包）</span></span>
                    </div>
                    <div class="left-icon"></div>
                </div>
                <div class="ddIcon hyIcon"></div>
                <div class="dd-time text-right">2016-11-20<br><span>16:16:16</span></div>
            </div>
            <div class="list pull-right">
                <div class="list-detail pull-right">
                    <div class="list-info1 clearfix">订单编号：32233324455255（确认码：12355888585858）<span class="pull-right ptdd-font">普通订单</span></div>
                    <div class="list-info2 clearfix">
                        <span class="pull-left face-img"><img src="../../../../assets/styles/images/merchant_2/homePage/mechantHeadPic.png" alt=""></span>
                        <span class="pull-left nickname">夜空中最亮的星</span>
                        <span class="pull-right pay-detail">付款:75.00元<span>（微信支付70元+5元红包）</span></span>
                    </div>
                    <div class="left-icon"></div>
                </div>
                <div class="ddIcon hyIcon"></div>
                <div class="dd-time text-right">2016-11-20<br><span>16:16:16</span></div>
            </div>
            <div class="list pull-right">
                <div class="list-detail pull-right">
                    <div class="list-info1 clearfix">订单编号：32233324455255（确认码：12355888585858）<span class="pull-right ptdd-font">普通订单</span></div>
                    <div class="list-info2 clearfix">
                        <span class="pull-left face-img"><img src="../../../../assets/styles/images/merchant_2/homePage/mechantHeadPic.png" alt=""></span>
                        <span class="pull-left nickname">夜空中最亮的星</span>
                        <span class="pull-right pay-detail">付款:75.00元<span>（微信支付70元+5元红包）</span></span>
                    </div>
                    <div class="left-icon"></div>
                </div>
                <div class="ddIcon hyIcon"></div>
                <div class="dd-time text-right">2016-11-20<br><span>16:16:16</span></div>
            </div>
        </div>
        <input type="button" class="btn btn-warning look-more" value="查看更多">
    </div>

</div>
<!--提现提示框-->
<div class="modal fade" id="tx">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">提现 <span>佣金余额：<font color="#fb991a">100.22</font>元</span></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputPassword1" class="col-sm-3 col-sm-offset-1 control-label">提现金额（元）</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="inputPassword1" placeholder="请输入金额">

                        </div>
                        <div class="col-sm-3"><span class="ts">至少提现200元</span></div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 col-sm-offset-1 control-label">结算账户</label>
                        <div class="col-sm-7">
                            <p class="text-muted" class="form-control">xxxxxxxxxxxxxxxxxxx{{bank}}</p>
                            <p class="text-muted" class="form-control">农行</p>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="clearfix btn-div text-center">
                    <button type="button" class="btn btn-warning" ng-class="{disabled: srgl.thirNum<=200}" ng-click="withDraw()">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--提现成功提示框-->
<div class="modal fade" id="tx-success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="icon-success"></div>
                <p class="text-center">提现申请成功</p>
                <p class="text-center">佣金将会在1个工作日内后抵达您的结算账户</p>
            </div>
            <div class="modal-footer">
                <div class="clearfix btn-div text-center">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">知道了</button>
                </div>
            </div>
        </div>
    </div>
</div>
