<style>
    .hui {
        position: absolute;
        cursor: pointer;
        background-color: #fb991a;
        color: #ffffff;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        margin-top: 1%;
        margin-left: 3%;
        -webkit-border-radius:5px 5px;
        -moz-border-radius:5px 5px;
        border-radius:5px 5px;
    }
    .msgBoard {
        position: absolute;
        width: 300px;
        height: 115px;
        padding: 10px 0 0 1%;
        background-color: RGBA(0,0,0,0.5);
        -webkit-border-radius:5px 5px;
        -moz-border-radius:5px 5px;
        border-radius:5px 5px;
        display: none;
    }
    .msgBoard > div {
        color: #fff;
        margin-bottom: 10px;
    }
</style>
<div class="homePage">
    <div class="panel panel-default page-top">
        <div class="panel-body clearfix">
            首页
        </div>
    </div>
    <div class="container-fluid">
        <p class="ttl">基本信息</p>
        <div class="row basic-info">
            <div class="col-md-2 face-img-wrapper">
                <div class="face-img">
                    <img src="../../../../assets/styles/images/merchant_2/homePage/mechantHeadPic.png" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <h5 class="text-center" style="line-height: 75px;text-align: left;margin-left: -30px">{{loginName}}</h5>
            </div>
            <div class="col-md-5 btn-warning-group">
                <div class="btn btn-warning" ng-click="toOrderList()">交易记录</div>
                <div class="btn btn-warning" ng-click="toTradeList()">到账记录</div>
            </div>
        </div>
        <p class="ttl">交易看板</p>
    </div>
    <div class="panel panel-default page-bottom">
        <div class="panel-body clearfix">
            <div class="pull-left">
                当前门店
                <select name="" id="selMerchant" class="current-store form-control" ng-change="changeStore(selectDefault)" ng-model="selectDefault" ng-options="m.id as m.name for m in merchants">
                    <option value="" hidden></option>
                </select>
                门店今日扫码<span style="color: orange">{{storeTotalCount}}</span>笔，总流水<span style="color: orange">￥{{storeTotalPrice}}</span>
            </div>
            <span class="pull-right" style="line-height: 34px" ng-click="toggleYuYin()">
                <span id="voideText">语音提醒</span>
                <i class="iconfont2 icon2-shanghukaiqiyuyin" style="color: #777" ng-show="yuyinState"></i>
                <i class="iconfont2 icon2-shanghuguanbiyuyin" style="color: #777"  ng-show="!yuyinState"></i>
            </span>
            <a class="pull-right refresh" ng-click="refreshOrderList()">刷新</a>
            <!--播放器-->
            <audio id="voicePlayer" src=""></audio>
        </div>
    </div>
    <div class="list-out-div">
        <div class="list-in-div">
            <!--乐加订单-->
            <div class="container-fluid clearfix dd-list" ng-show="map.key=='olOrders'">
                <div class="list pull-right" ng-repeat="arr in olOrders">
                    <!--扫码订单-->
                    <div class="list-detail pull-right"  ng-show="{{arr[6]==0}}">
                        <div class="list-info1 clearfix">
                            订单编号：{{arr[0]}}（确认码：{{arr[2]}}）
                            <span class="pull-right hydd-font" ng-show="arr[5]==0">普通订单</span>
                            <span class="pull-right dldd-font"  ng-show="arr[5]==1">乐加订单</span>
                        </div>
                        <div class="list-info2 clearfix">
                            <span class="pull-left face-img"><img src="../../../../assets/styles/images/merchant_2/homePage/mechantHeadPic.png" alt=""></span>
                            <span class="pull-left nickname">{{arr[7]}}</span>
                            <span class="pull-right pay-detail">付款:{{arr[3]/100.0+arr[4]/100.0}}元<span>（微信支付{{arr[3]/100.0}}元+{{arr[4]/100.0}}元红包）</span></span>
                            <span class="pull-right pay-detail"  ng-show="arr[8]!=null&&arr[8]!=''" style="font-size: 16px;color: #444">买单桌号: {{arr[8]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span class="hui" ng-show="arr[9]!=null&&arr[9]==1" ng-mouseenter="showMsg($event,arr[0])" ng-mouseleave="hideMsg()">惠</span>
                        </div>
                        <div class="left-icon"></div>
                    </div>
                    <!--Pos订单-->
                    <div class="list-detail pull-right" ng-show="{{arr[6]==1}}">
                        <div class="list-info1 clearfix">订单编号：{{arr[0]}}<span class="pull-right hydd-font" ng-show="arr[5]==0">普通订单</span>
                            <span class="pull-right dldd-font"  ng-show="arr[5]==1||arr[5]==3">乐加订单</span>
                            <span class="pull-right hydd-font" ng-show="arr[5]==2||arr[5]==4||arr[5]==5||arr[5]==6">普通订单</span>
                        </div>
                        <div class="list-info2 clearfix">
                            <span class="pull-left face-img"><img src="../../../../assets/styles/images/merchant_2/homePage/mechantHeadPic.png" alt=""></span>
                            <span class="pull-left nickname">{{arr[7]}}</span>
                            <span class="pull-right pay-detail">付款:{{arr[3]/100.0+arr[4]/100.0}}元<span>（微信支付{{arr[3]/100.0}}元+{{arr[4]/100.0}}元红包）</span></span>
                        </div>
                        <div class="left-icon"></div>
                    </div>
                    <div class="ddIcon hyIcon"  ng-show="{{arr[6]==1}}"></div>
                    <div class="ddIcon dlIcon"  ng-show="{{arr[6]==0}}"></div>
                    <div class="dd-time text-right">{{arr[1]|date:'yyyy-MM-dd'}}<br><span>{{arr[1]|date:'HH:mm:ss'}}</span></div>
                </div>
            </div>
            <!--通道订单-->
            <div class="container-fluid clearfix dd-list" ng-show="map.key=='scanCodeOrders'">
                <div class="list pull-right" ng-repeat="arr in scanCodeOrders">
                    <!--扫码订单-->
                    <div class="list-detail pull-right">
                        <div class="list-info1 clearfix">
                            订单编号：{{arr[0]}}（确认码：{{arr[2]}}）
                            <span class="pull-right hydd-font" ng-show="arr[1]==0">普通订单</span>
                            <span class="pull-right dldd-font" ng-show="arr[1]==1">乐加订单</span>
                        </div>
                        <div class="list-info2 clearfix">
                            <span class="pull-left face-img"><img src="../../../../assets/styles/images/merchant_2/homePage/mechantHeadPic.png" alt=""></span>
                            <span class="pull-left nickname">{{arr[5]}}</span>
                            <span class="pull-right pay-detail">交易金额:{{arr[3]/100.0}}元</span>
                            <span class="pull-right pay-detail"  ng-show="arr[6]!=null&&arr[6]!=''" style="font-size: 16px;color: #444">买单桌号: {{arr[6]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span class="hui" ng-show="arr[7]!=null&&arr[7]==1" ng-mouseenter="showMsg($event,arr[0])" ng-mouseleave="hideMsg()">惠</span>
                        </div>
                        <div class="left-icon"></div>
                    </div>
                    <!--<div class="ddIcon hyIcon ng-show=""></div>-->
                    <div class="ddIcon dlIcon"></div>
                    <div class="dd-time text-right">{{arr[4]|date:'yyyy-MM-dd'}}<br><span>{{arr[4]|date:'HH:mm:ss'}}</span></div>
                </div>
            </div>
        </div>
        <div class="text-center" ng-show="tsContentShow">没有更多了，亲！</div>
        <!--<input type="button" class="btn btn-warning look-more" value="查看更多" ng-click="findMore()">-->
    </div>
    <div class="msgBoard">
        <div>原始金额：￥{{originPrice}}</div>
        <div>不参与优惠金额：￥{{outPrice}}</div>
        <div>{{discount}}</div>
        <div>商户优惠：￥{{discountPrice}}</div>
    </div>
</div>
<script>

</script>
