<!--<div ng-cloak>-->

        <div class="container-fluid shouye">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="/assets/styles/images/shouye/logo.png">
                </a>
            </div>
            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <button class="btn btn-warning shouye-button" ng-click="loginPartner()" ng-if="!isAuthenticated">合伙人登录</button>
                        <button class="btn btn-warning" style="margin-top: 8px;" ng-click="stateChange()" ng-if="partner">合伙人入口</button>
                    </li>
                    <li>
                        <button class="btn btn-warning shouye-button" ng-click="login()" ng-if="!isAuthenticated">商户登录</button>
                        <button class="btn btn-warning" style="margin-top: 8px;" ng-click="stateChange()" ng-if="merchant">商户入口</button>
                    </li>
                </ul>
                <div class="pull-right">
                    <div class="dropdown">
                        <h6 class=" dropdown-toggle" type="button" data-toggle="dropdown">
                            咨询电话：400-0412-800
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    <div class="container-fluid shouye-container">
        <div class="container-fluid sy-banner banner1">
            <div class="banner1-inner">
                <button class="btn btn-warning" onclick="window.open('http://form.mikecrm.com/F4s2fS')">快速接入</button>
            </div>
        </div>
        <div class="container-fluid sy-banner banner2"></div>
        <div class="container-fluid sy-banner banner3"></div>
        <div class="container-fluid sy-banner banner4"></div>
        <div class="container-fluid sy-banner banner5"></div>
        <div class="container-fluid sy-banner banner6"></div>
        <div class="container-fluid sy-banner banner7"></div>
    </div>
<!--</div>-->
