
<div class="container content main-content items-manager account-manager">
    <div class="container-fluid">
        <p class="clearfix">
            <span ui-sref="myitems" ui-sref-opts="{reload:true}">
                <span class="left-icon pull-left"></span>
                <span>我的商户 / </span><font>账号管理</font>
            </span>
        </p>
        <!--表格-->
        <div class="text-center clearfix table-ttl">
            <font>{{merchant.name}}</font>账户管理
            <a class="btn btn-warning btn-sm pull-right createAccount" data-target="#createAccount" ng-click="createAccount()">新建账号</a>
        </div>
        <div class="panel panel-default">
            <table class="table ol-tab">
                <thead class="active">
                <tr><td>用户名</td><td>密码</td><td>操作</td></tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in accounts">
                    <td ng-bind="x.name"></td>
                    <td >******</td>
                    <td><a class="deleteAccount" data-target="#deleteAccount" ng-click="deleteAccount(x.id)" >删除账户</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--创建账户提示框-->
<div class="modal fade" id="createAccount" ng-controller="MerchantConfigController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">创建账户</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="account" class="col-sm-2 col-sm-offset-1 control-label">账户</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="account">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword2" class="col-sm-2 col-sm-offset-1 control-label">密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="inputPassword2">
                            <p class="text-muted small tishi">密码由数字和字母组合，不少于6位，不能包含特殊符号</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-div">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-warning" ng-click="createMerchantUser()">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--删除账户提示框-->
<div class="modal fade" id="deleteAccount" ng-controller="MerchantConfigController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">删除账户</h4>
            </div>
            <div class="modal-body">
                <h5 class="text-center">请问您确认删除吗？</h5>
            </div>
            <div class="modal-footer">
                <div class="btn-div">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-warning" ng-click="deleteMerchantUser()">确认</button>
                </div>

            </div>
        </div>
    </div>
</div>
