<div class="container content main-content items-manager create-items">
    <div class="container-fluid">
        <p class="clearfix">
            <span class="left-icon pull-left" ui-sref="myitems" ui-sref-opts="{reload:true}"></span>
            <span ui-sref="myitems" ui-sref-opts="{reload:true}">我的商户 / </span><font>新建商户</font>
        </p>

        <!--头部-->
        <div class="row top-div">
            <div class="col-md-4" ng-class="{'top-focus':currentState==1}">
                基本信息
                <span class="top-angle"></span>
            </div>
            <div class="col-md-4" ng-class="{'top-focus':currentState==2}">
                签约信息
                <span class="top-angle"></span>
            </div>
            <div class="col-md-4" ng-class="{'top-focus':currentState==3}">
                结算信息
                <span class="top-angle"></span>
            </div>
        </div>

        <!--表单-->
        <form class="form-horizontal">
            <!--第一页-->
            <div class="floor1" ng-show="currentState==1">
                <div class="form-group">
                    <label class="col-sm-2 control-label">商户名称</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control " id="merchantName"
                               ng-model="merchant.name" value="{{merchant.name}}"
                               placeholder="请输入商户名称" ng-class="{'red-border':merchantNameState}"
                               ng-change="inputState(this,'merchantNameState')">
                    </div>
                    <div class="col-md-4 red-font" ng-show="merchantNameState">请输入商户名称</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商户分类</label>

                    <div class="col-sm-4">
                        <select class="form-control" id="merchantType"
                                ng-class="{'red-border':merchantTypeState}"
                                ng-model="merchant.merchantType.id"
                                ng-options="value.id as value.name for value in merchantTypes"
                                ng-change="inputState(this,'merchantTypeState')">
                            <option value="">请选择分类</option>
                        </select>
                        <span class="select-jiao"></span>
                    </div>
                    <div class="col-md-4 red-font" ng-show="merchantTypeState">请输入商户名称</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">所属区域</label>

                    <div class="info">
                        <div class="col-sm-2">
                            <select class="form-control" id="city" name="s_city"
                                    ng-model="merchant.city.id" ng-class="{'red-border':cityState}"
                                    ng-options="value.id as value.name for value in cities"
                                    ng-change="inputState(this,'cityState')">
                                <option value="">城市</option>
                            </select>  
                            <span class="select-jiao"></span>
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control" id="area" name="s_county"
                                    ng-model="merchant.area.id"
                                    ng-class="{'red-border':areaState}"
                                    ng-options="value.id as value.name for value in areas"
                                    ng-change="inputState(this,'areaState')">
                                <option value="">区域</option>
                            </select>
                            <span class="select-jiao"></span>
                        </div>
                        <div class="col-md-2 red-font" ng-show="cityState&&areaState">请选择城市和区域</div>
                        <div class="col-md-2 red-font" ng-show="cityState&&!areaState">请选择城市</div>
                        <div class="col-md-2 red-font" ng-show="areaState&&!cityState">请选择区域</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">详细地址</label>

                    <div class="col-sm-4">
                        <input type="text" id="location" class="form-control"
                               ng-model="merchant.location" value="{{merchant.location}}"
                               placeholder="请输入商户详细地址" ng-class="{'red-border':locationState}"
                               ng-change="inputState(this,'locationState')">
                    </div>
                    <div class="col-md-2 red-font" ng-show="locationState">请输入商户详细地址</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">门店头图</label>

                    <div class="col-sm-8 clearfix">
                        <div id="addShopPic1" class="pull-left addShopPic"
                             ng-class="{'red-border':merchantPicState}">
                            <input type="file" id="picture" class="form-control"
                                   onchange="angular.element(this).scope().imgBtnChange(this,$('#addShopPic1'),'merchantPicState')">
                            <span class="text-center ">添加照片</span>
                        </div>
                        <div class="red-font pull-left pic-tip red-font-left"
                             ng-show="merchantPicState">请选择图片
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">位置标注</label>

                    <div class="col-sm-9">
                        <!--map-->
                        <p class="map-ttl">请在下方地图标注出商户所在位置 <span class="red-font red-font-left"
                                                                 ng-show="lnglatState">请选择经纬度</span>
                        </p>

                        <div id="container" class="form-control"></div>
                        <div id="myPageTop">
                            <table>
                                <tr>
                                    <td><label>按关键字搜索：</label></td>
                                    <td class="column2"><label>左击获取经纬度：</label></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text"
                                               placeholder="请输入关键字进行搜索"
                                               id="tipinput"></td>
                                    <td class="column2"><input class="form-control" type="text"
                                                               readonly="true" id="lnglat"
                                                               ng-class="{'red-border':lnglatState}"
                                                               value="{{merchant.lat}},{{merchant.lng}}">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--第二页-->
            <div class="floor2" ng-show="currentState==2">
                <div class="form-group">
                    <label class="col-sm-2 control-label">协议签约人</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="merchantContact"
                               ng-model="merchant.contact" value="{{merchant.contact}}"
                               placeholder="请输入签约人姓名" ng-class="{'red-border':merchantCtctState}"
                               ng-change="inputState(this,'merchantCtctState')">
                    </div>
                    <div class="col-md-4 red-font" ng-show="merchantCtctState">请输入签约人姓名</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">绑定手机号</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="merchantPhone"
                               ng-model="merchant.merchantPhone" value="{{merchant.merchantPhone}}"
                               placeholder="请输入签约人手机号" ng-class="{'red-border':merchantTelState}"
                               ng-change="inputState(this,'merchantTelState','merchantPhone')">
                    </div>
                    <div class="col-md-4 red-font" ng-show="merchantTelState">请输入正确的手机号格式</div>
                </div>
                <div class="form-group radio-style">
                    <label for="cooperate-style" class="col-sm-2 control-label">合约类型</label>

                    <div class="col-sm-4" id="cooperate-style">
                        <div class="radio-inline">
                            <label>
                                <input ng-click="itemsStateFun()" type="radio" name="optionsRadios"
                                       id="optionsRadios1" value="option1"
                                       ng-checked="merchant.partnership==1||merchant==null">
                                联盟商户
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input ng-click="itemsStateFun()" type="radio" name="optionsRadios"
                                       id="optionsRadios2" value="option2"
                                       ng-checked="merchant.partnership==0">
                                普通商户
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">普通订单手续费</label>

                    <div class="col-sm-4">
                        <span class="default-font">0.6%</span>
                    </div>
                </div>
                <div class="form-group" ng-if="itemsState">
                    <label class="col-sm-2 control-label">会员订单手续费</label>

                    <div class="col-sm-8 form-inline">
                        <input type="number" id="member-commission"
                               class="form-control input-inline"
                               ng-class="{'red-border':memberCmsnState}"
                               ng-model="merchant.memberCommission"
                               value="{{merchant.memberCommission}}"
                               ng-change="inputState(this,'memberCmsnState','member-commission')">%
                        <span class="tip">注：会员订单的手续费和官方微信手续费的差额，乐加会以红包形式发放给会员</span>

                        <div class="red-font red-font-left" ng-show="memberCmsnState">
                            请输入正确的会员订单手续费，为大于0小于100的一位小数
                        </div>
                    </div>

                </div>
                <div class="form-group" ng-if="itemsState">
                    <label class="col-sm-2 control-label">导流订单佣金比</label>

                    <div class="col-sm-8 form-inline">
                        <input type="text" id="import-commission" class="form-control input-inline"
                               ng-class="{'red-border':importCmsnState}"
                               ng-model="merchant.ljCommission" value="{{merchant.ljCommission}}"
                               ng-change="inputState(this,'importCmsnState','import-commission')">%
                        <span class="red-font red-font-left"
                              ng-show="importCmsnState">请输入正确的导流订单手续费，为大于0小于100的一位小数</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">签约协议</label>

                    <div class="col-sm-8 clearfix">
                        <div id="addShopPic2" class="pull-left addShopPic">
                            <input type="file" id="protocols" class="form-control" multiple="true"
                                   onchange="angular.element(this).scope().imgBtnChange(this,$('#addShopPic2'))">
                            <span class="text-center ">添加照片</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--第三页-->
            <div class="floor3" ng-show="currentState==3">
                <div class="form-group">
                    <label for="merchantBankCard" class="col-sm-2 control-label">银行卡号</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="merchantBankCard"
                               placeholder="请输入银行卡号" ng-model="merchant.merchantBank.bankNumber"
                               value="{{merchant.merchantBank.bankNumber}}"
                               ng-class="{'red-border':merchantBankCdState}"
                               ng-change="inputState(this,'merchantBankCdState','merchantBankCard')">
                    </div>
                    <div class="col-md-4 red-font" ng-show="merchantBankCdState">
                        请输入正确的银行卡号，为16或19位数字
                    </div>
                </div>
                <div class="form-group">
                    <label for="merchantBank" class="col-sm-2 control-label">开户行</label>

                    <div class="col-sm-4">
                        <input type="text" value="{{merchant.merchantBank.bankName}}"
                               class="form-control" id="merchantBank"
                               ng-model="merchant.merchantBank.bankName"
                               ng-change="inputState(this,'merchantBankState')"
                               placeholder="请输入所在支行地址" ng-class="{'red-border':merchantBankState}">
                    </div>
                    <div class="col-md-4 red-font" ng-show="merchantBankState">请输入所在支行地址</div>
                </div>
                <div class="form-group">
                    <label for="payee" class="col-sm-2 control-label">收款人</label>

                    <div class="col-sm-4">
                        <input type="text" value="{{merchant.payee}}" class="form-control"
                               id="payee"
                               ng-model="merchant.payee"
                               placeholder="请输入收款人姓名" ng-class="{'red-border':payeeState}"
                               ng-change="inputState(this,'payeeState')">
                    </div>
                    <div class="col-md-4 red-font" ng-show="payeeState">请输入收款人姓名</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">结算周期</label>

                    <div class="col-sm-4">
                        <span class="default-font">T+1</span>
                    </div>
                </div>
            </div>

            <div class="form-group flipBtn">
                <hr>
                <div class="col-sm-9 col-sm-offset-2">
                    <p>
                        <input type="button" class="btn btn-warning" value="下一页"
                               ng-click="currentStateFun2()" ng-show="currentState==1">

                        <input type="button" class="btn btn-default" value="上一页"
                               ng-click="currentStateFun1()" ng-show="currentState==2">
                        <input type="button" class="btn btn-warning" value="下一页"
                               ng-click="currentStateFun3()" ng-show="currentState==2">

                        <input type="button" class="btn btn-default" value="上一页"
                               ng-click="currentStateFun2()" ng-show="currentState==3">
                        <input type="button" class="btn btn-warning" value="确认"
                               ng-click="subMerchant()"
                               ng-show="currentState==3">
                    </p>
                </div>
            </div>
        </form>
    </div>
    <!--图片放大提示框-->
    <div class="modal fade" id="enlargePic">
        <div class="modal-dialog">
            <div class="modal-content">
                <img src="" alt="">
            </div>
        </div>
    </div>
</div>


