<div class="container content main-content items-manager create-items">
    <div class="container-fluid">
            <p><span ui-sref="myitems" ui-sref-opts="{reload:true}">我的商户 / </span><font>新建商户</font></p>
            <div class="row top-div">
                <div class="col-md-4">
                    基本信息
                    <span class="top-angle"></span>
                </div>
                <div class="col-md-4 top-focus">
                    签约信息
                    <span class="top-angle"></span>
                </div>
                <div class="col-md-4">
                    结算信息
                    <span class="top-angle"></span>
                </div>
            </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">协议签约人</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">绑定手机号</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group radio-style">
                    <label for="cooperate-style" class="col-sm-2 control-label">合约类型</label>
                    <div class="col-sm-4" id="cooperate-style">
                        <div class="radio-inline">
                            <label>
                                <input ng-click="itemsStateFun()" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                联盟商户
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input ng-click="itemsStateFun()" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                普通商户
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商户分类</label>
                    <div class="col-sm-4">
                        <span class="default-font">6%</span>
                    </div>
                </div>
                <div class="form-group" ng-if="itemsState">
                    <label class="col-sm-2 control-label">会员订单手续费</label>
                    <div class="col-sm-8 form-inline">
                        <input type="text" class="form-control input-inline"> %
                        <span>注：会员订单的手续费和官方微信手续费的差额，乐加会以红包形式发放给会员</span>
                    </div>
                </div>
                <div class="form-group" ng-if="itemsState">
                    <label class="col-sm-2 control-label">会员订单佣金比</label>
                    <div class="col-sm-8 form-inline">
                        <input type="text" class="form-control input-inline"> %
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">签约协议</label>
                    <div class="col-sm-8 clearfix">
                        <div id="addShopPic" class="pull-left">
                            <input type="file" class="form-control" onchange="angular.element(this).scope().imgBtnChange(this)">
                            <span class="text-center ">添加照片</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <hr>
                    <div class="col-sm-9 col-sm-offset-2">
                        <p>
                            <input ui-sref="createitems1" type="button" class="btn btn-default" value="上一页">
                            <input ui-sref="createitems3" type="button" class="btn btn-warning" value="下一页">
                        </p>
                    </div>
                </div>
            </form>
        </div>

    <!--图片放大提示框-->
    <div class="modal fade" id="enlargePic">
        <div class="modal-dialog">
            <div class="modal-content">
                <img src="" alt="">
            </div>
        </div>
    </div>
</div>

