<div class="container content main-content my-items">
    <div class="container-fluid">
        <style>
            td {
                text-align: center;
            }
        </style>
        <p class="ttl">门店列表</p>
        <!--查询表单-->
        <form class="form-inline">
            <div class="row">
                <div class="form-group col-md-5">
                    <label for="storeName">门店名称</label>
                    <input type="text" class="form-control" id="storeName" placeholder="请输入门店名称">
                </div>
                <div class="form-group col-md-5">
                    <label for="merchantsName">所属商户名称</label>
                    <input type="text" class="form-control" id="merchantsName" placeholder="请输入所属商户名称">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-5">
                    <label>交易日期</label>
                    <div class="input-group timePicker col-md-9">
                        <input type="text" name="reservation" id="timePicker1"
                               class="form-control"/>
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>协议类型</label>
                    <div class="input-group col-md-6">
                        <select class="form-control" id="partnerShip">
                            <option value="-1">全部</option>
                            <option value="0">普通协议</option>
                            <option value="1">联盟协议</option>
                        </select>
                        <span class="select-jiao"></span>
                    </div>
                </div>
            </div>
            <div>
                <div style="margin-bottom: 20px;">
                    <button style="margin-left: 10.5%" type="button" class="btn btn-warning btn-check2"
                            ng-click="searchByCriteria()">查询
                    </button>
                </div>
            </div>
        </form>
        <div>
            <!--表格信息总结-->
            <!--<p class="ttl-add clearfix">-->
                <!--<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;因商户系统升级，录入新门店时请联系乐加客服 （微信号：xuyichen1203） 电话：4000412800</span>-->
                <!--&lt;!&ndash;<a class="btn btn-primary pull-right" ui-sref="createitems" ui-sref-opts="{reload:true}">新建商户</a>&ndash;&gt;-->
                <!--<span class="pull-left">注：共锁定<font>{{totalCount}}</font>家商户，有<font>{{fullMerchant}}</font>家商户的锁定名额以满 <a ng-click="showFullMerchant()">查看详情</a></span>-->
            <!--</p>-->
            <!--表格-->
            <div class="panel panel-default">
                <table class="table ol-tab">
                    <thead class="active">
                    <tr>
                        <td>门店编号</td>
                        <td>门店名称</td>
                        <td>所属城市</td>
                        <td>所属商户</td>
                        <td>协议类型</td>
                        <td>扫码费率</td>
                        <td>总流水</td>
                        <td>普通订单</td>
                        <td>乐加订单</td>
                        <td>时段内锁定会员</td>
                        <td>当前锁定情况</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in pulls">
                        <td ng-bind="x.mid"></td>
                        <td ng-bind="x.merchantName"></td>
                        <td ng-bind="x.cityName"></td>
                        <td ng-bind="x.ownerMerchant"></td>
                        <td ng-show="x.partnership==0">普通商户</td>
                        <td ng-show="x.partnership==1">联盟商户</td>
                        <td  class="col-sm-2" ng-show="x.partnership==0"><p>普通：<span>{{x.ljBrokerage}}%</span></p></td>
                        <td  class="col-sm-2" ng-show="x.partnership==1"><p>联盟：<span>{{x.ljCommission}}%</span></p><p>普通：<span>{{x.ljBrokerage}}%</span></p></td>
                        <td>
                            <p>{{x.orderNum==null?0:orderNum}}笔</p>
                            <p>￥<span ng-bind="x.orderAmount/100"></span></p>
                        </td>
                        <td>
                            <p>{{x.comOrderNum==null?0:x.comOrderNum}}笔</p>
                            <p>￥<span ng-bind="x.comOrderAmount/100"></span></p>
                        </td>
                        <td>
                            <p>{{x.leOrderNum==null?0:x.leOrderNum}}笔</p>
                            <p>￥<span ng-bind="x.leOrderAmount/100"></span></p>
                        </td>
                        <td>{{x.lockNum==null?0:x.lockNum}}</td>
                        <td>{{x.bindCount}}/{{x.bindLimit}}</td>
                        <td class="col-md-1">
                            <a ng-click="goLePayCode(x.merchantNo)">乐付码</a>
                            <!--<a ng-click="goEdit(x[0])">编辑</a>-->
                            <a ng-click="goMerchantUser(x.merchantNo)">账户</a>
                            <!--<a ui-sref="lefuma" ui-sref-opts="{reload:true}">乐付码</a>-->
                            <!--<a ui-sref="createitems1" ui-sref-opts="{reload:true}">编辑</a>-->
                            <!--<a ui-sref="accountmanager" ui-sref-opts="{reload:true}">账户</a>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--分页-->
        <div class=" clearfix">
            <nav class="pull-right">
                <a class="pull-right dcbg" ng-click="exportExcel()">导出表格</a>
                <ul class="pagination">
                    <li ng-class="{disabled: page==1}" ng-click="loadPage(1)"><a>&laquo;</a></li>
                    <li ng-class="{disabled: page==1}" ng-click="loadPage(page-1)">
                        <a aria-label="Previous"><span aria-hidden="true">‹</span></a>
                    </li>
                    <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                    <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                    <li class="active" ng-click="loadPage(page)"><a>{{page}}</a></li>
                    <li ng-show="page < totalPages" ng-click="loadPage(page + 1)"><a>{{page +
                        1}}</a>
                    </li>
                    <li ng-show="page < totalPages - 1" ng-click="loadPage(page + 2)"><a>{{page +
                        2}}</a>
                    </li>
                    <li ng-class="{disabled: page==totalPages||totalPages==0}"
                        ng-click="loadPage(page+1)"><a aria-label="Next">
                        <span aria-hidden="true">›</span>
                    </a></li>
                    <li ng-class="{disabled: page==totalPages||totalPages==0}"
                        ng-click="loadPage(totalPages)"><a>&raquo;</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
