<div class="imBasicInfo">
    <div class="container-fluid">
        <p class="text-right tel">如需更改基本信息，请联系客服：400-0412-800</p>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">天使合伙人姓名</div>
                    <div class="col-md-4" ng-bind="partner.name"></div>
                    <div class="col-md-2">佣金结算卡号</div>
                    <div class="col-md-4" >{{partner.bankNumber|limitTo:4}}*********{{partner.bankNumber|limitTo:-4}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">锁定门店上线</div>
                    <div class="col-md-4" ng-bind="partner.merchantLimit"></div>
                    <div class="col-md-2">锁定会员上线</div>
                    <div class="col-md-4" ng-bind="partner.userLimit"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">手机号</div>
                    <div class="col-md-4" ng-bind="partner.phoneNumber"></div>
                    <div class="col-md-2">开户支行</div>
                    <div class="col-md-4" ng-bind="partner.bankName"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">收账人</div>
                    <div class="col-md-4" ng-bind="partner.payee"></div>
                </div>
            </div>
        </div>
        <!--<p class="clearfix btn-new"><button class="btn btn-warning pull-right" data-target="#createAccount" data-toggle="modal">新建账号</button></p>-->
        <!--<div class="panel panel-default">-->
            <!--<table class="table ol-tab">-->
                <!--<thead class="active">-->
                <!--<tr>-->
                    <!--<td>账户名</td>-->
                    <!--<td>密码</td>-->
                    <!--<td>操作</td>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr class="tr-empty"><td class="text-center" colspan="3">暂无数据！</td></tr>-->
                <!--<tr class="tr-noEmpty">-->
                    <!--<td>孙天奇</td>-->
                    <!--<td>********</td>-->
                    <!--<td><a class="a-btn" data-toggle="modal" data-target="#changePassword">编辑</a></td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
        <!--分页-->
        <!--<div class=" clearfix">-->
            <!--<nav class="pull-right">-->
                <!--<ul class="pagination">-->
                    <!--<li ng-class="{disabled: page==1}" ng-click="loadPage(1)"><a>&laquo;</a></li>-->
                    <!--<li ng-class="{disabled: page==1}" ng-click="loadPage(page-1)">-->
                        <!--<a aria-label="Previous"><span aria-hidden="true">‹</span></a>-->
                    <!--</li>-->
                    <!--<li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>-->
                    <!--<li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>-->
                    <!--<li class="active" ng-click="loadPage(page)"><a>{{page}}</a></li>-->
                    <!--<li ng-show="page < totalPages" ng-click="loadPage(page + 1)"><a>{{page +-->
                        <!--1}}</a>-->
                    <!--</li>-->
                    <!--<li ng-show="page < totalPages - 1" ng-click="loadPage(page + 2)"><a>{{page +-->
                        <!--2}}</a>-->
                    <!--</li>-->
                    <!--<li ng-class="{disabled: page==totalPages||totalPages==0}"-->
                        <!--ng-click="loadPage(page+1)"><a aria-label="Next">-->
                        <!--<span aria-hidden="true">›</span>-->
                    <!--</a></li>-->
                    <!--<li ng-class="{disabled: page==totalPages||totalPages==0}"-->
                        <!--ng-click="loadPage(totalPages)"><a>&raquo;</a></li>-->
                <!--</ul>-->
            <!--</nav>-->
        <!--</div>-->
    </div>

    <!--新建账户提示框-->
    <div class="modal fade" id="createAccount">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">新建账户</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-offset-1 control-label">账号名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="请输入6~12位字母，数字或汉字">
                                <p class="text-muted small" style="color: #ff0000">请输入6~12位字母，数字或汉字/账号名已存在</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-offset-1 control-label">密码</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="inputPassword2" placeholder="请输入6~12位字母或数字">
                                <p class="text-muted small tishi" style="color: #ff0000">请输入6~12位字母或数字</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 col-sm-offset-1 control-label">确认密码</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="请输入6~12位字母或数字">
                                <p class="text-muted small tishi" style="color: #ff0000">两次输入的密码不一致</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="clearfix btn-div text-center">
                        <button type="button" class="btn btn-warning" ng-class="{disabled: srgl.thirNum<=200}" ng-click="withDraw()">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--编辑提示框-->
    <div class="modal fade" id="changePassword">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">修改密码</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-offset-1 control-label">账号名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="请输入6~12位字母，数字或汉字">
                                <p class="text-muted small" style="color: #ff0000">请输入6~12位字母，数字或汉字/账号名已存在</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-offset-1 control-label">密码</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" placeholder="请输入6~12位字母或数字">
                                <p class="text-muted small tishi" style="color: #ff0000">请输入6~12位字母或数字</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 col-sm-offset-1 control-label">确认密码</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" placeholder="请输入6~12位字母或数字">
                                <p class="text-muted small tishi" style="color: #ff0000">两次输入的密码不一致</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="clearfix btn-div text-center">
                        <button type="button" class="btn btn-warning" ng-class="{disabled: srgl.thirNum<=200}" ng-click="withDraw()">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
