<div class="infoManage top-style">
    <div class="panel panel-default page-top">
        <div class="panel-body clearfix ">
            <div class="panel-body clearfix">
                <span class="left-icon pull-left" ui-sref="cp-homePage" ui-sref-opts="{reload:true}"></span>
                <span ui-sref="cp-homePage" ui-sref-opts="{reload:true}">合伙人管理 / </span>
                <span class="current-page">提现记录</span>
            </div>
            <ul class="nav nav-style">
                <li role="presentation" ng-class="{active:currentTab0}" ng-click="onClickTab()" ui-sref="imDataOverview"><a>数据概览</a></li>
                <li role="presentation" ng-class="{active:currentTab1}" ng-click="onClickTab()" ui-sref="imBasicInfo"><a>基本信息</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid" ui-view="infoManageTab"></div>
</div>
