<div class="container-fluid content">
    <p class="ttl">交易记录</p>
    <!--查询表单-->
    <form class="form-inline">
        <div class="row">
            <div class="form-group col-md-7">
                <label>交易完成时间</label>

                <div class="input-group timePicker col-md-8">
                    <input type="text" name="reservation" id="timePicker1" class="form-control"/>
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="order-num">POS终端号</label>
                <input type="text" class="form-control" id="order-num" placeholder="请输入订单编号">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5">
                <label>订单类型</label>

                <div class="col-md-8 input-group">
                    <select class="form-control" id="rebateWay">
                        <option value="0">全部类型</option>
                        <option value="1">导流订单</option>
                        <option value="2">普通订单</option>
                    </select>
                </div>

            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-warning btn-check2"
                        ng-click="searchByCriteria()">查询
                </button>
            </div>
        </div>

    </form>
    <div>
        <!--表格信息总结-->
        <p class="ttl-add">
            所选条件下，共有<font>{{totalElements}}</font>条记录，销售金额<font>¥{{statistic.sales}}</font>，手续费<font>¥{{statistic.commission}}</font>，到账收入<font>¥{{statistic.trueSales}}</font>
            <a class="pull-right table-download" ng-click="exportExcel()"><span
                class="iconfont icon-xiazai"></span>下载表格</a>
        </p>
        <!--表格-->
        <div class="panel panel-default">
            <table class="table ol-tab">
                <thead class="active">
                <tr>
                    <td>交易完成时间</td>
                    <td>交易单号</td>
                    <td>POS终端号</td>
                    <td>订单类型</td>
                    <td>金额</td>
                    <td>手续费</td>
                    <td>实际应到账</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in pulls">
                    <td>
                        <p ng-bind="x.completeDate|date:'yyyy-MM-dd'"></p>
                        <p ng-bind="x.completeDate|date:'HH:mm:ss'"></p>
                    </td>
                    <td ng-bind="x.orderSid"></td>
                    <td>2134</td>
                    <td ng-show="x.rebateWay==1">导流订单</td>
                    <td ng-show="x.rebateWay!=1">普通订单</td>
                    <td ng-bind="'¥'+x.totalPrice/100.0"></td>
                    <td ng-bind="'¥'+x.ljCommission/100.0"></td>
                    <td ng-bind="'¥'+x.transferMoney/100.0"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--分页-->
    <div class=" clearfix">
        <nav class="pull-right">
            <ul class="pagination">
                <li ng-class="{disabled: page==1}" ng-click="loadPage(1)"><a>&laquo;</a></li>
                <li ng-class="{disabled: page==1}" ng-click="loadPage(page-1)"><a
                    aria-label="Previous">
                    <span aria-hidden="true">‹</span>
                </a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active" ng-click="loadPage(page)"><a>{{page}}</a></li>
                <li ng-show="page < totalPages" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a>
                </li>
                <li ng-show="page < totalPages - 1" ng-click="loadPage(page + 2)"><a>{{page +
                    2}}</a>
                </li>
                <li ng-class="{disabled: page==totalPages||totalPages==0}"
                    ng-click="loadPage(page+1)"><a aria-label="Next">
                    <span aria-hidden="true">›</span>
                </a></li>
                <li ng-class="{disabled: page==totalPages||totalPages==0}"
                    ng-click="loadPage(totalPages)"><a>&raquo;</a></li>
            </ul>
        </nav>
    </div>

</div>
