<style>
    td {
        text-align: center;
    }
    .fixedClear:after {
        content: '\20';
        display: block;
        clear: both;
    }
    .yzmHx {
        width: 95%;
        margin: 0 auto;
        border-bottom: 1px solid #e1e1e1;
        padding: 4% 0;
    }
    .yzmHx > div {
        float: left;
    }
    .yzmHx > div:first-child {
        width: 20%;
        margin-top: 7px;
    }
    .yzmHx > div:first-child > div {
        float: left;
        font-size: 14px;
        color: #222;
    }
    .yzmHx > div:first-child > div:last-child {
        margin-left: 5%;
        margin-top: 2px;
    }
    .yzmHx > div:nth-child(2) {
        width: 60%;
    }
    .yzmHx input {
        width: 100%;
        padding: 1% 2%;
        font-size: 14px;
        color: #999;
        border:1px solid #e1e1e1;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
    }
    .yzmHx > div:last-child {
        width: 10%;
        margin-left: 5%;
        padding: 8px 0;
        background-color: #fb991a;
        text-align: center;
        color: #fff;
        font-size: 14px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        cursor: pointer;
    }
    .md {
        width: 95%;
        margin: 0 auto;
        padding: 3% 0 0 0;
    }
    .md > div {
        float: left;
    }
    .md > div:first-child {
        font-size: 14px;
        color: #222;
        margin-right: 4%;
        margin-top: 7px;
    }
    .md > div:nth-child(2) {
        width: 30%;
    }
    .md select {
        width: 100%;
        border:1px solid #e1e1e1;
        padding: 1% 2%;
        font-size: 14px;
        color: #999;
    }
    /*.md > div:last-child {*/
        /*width: 10%;*/
        /*margin-left: 5%;*/
        /*padding: 8px 0;*/
        /*background-color: #fb991a;*/
        /*text-align: center;*/
        /*color: #fff;*/
        /*font-size: 14px;*/
        /*-webkit-border-radius:4px;*/
        /*-moz-border-radius:4px;*/
        /*border-radius:4px;*/
        /*cursor: pointer;*/
    /*}*/
    .showData {
        width: 95%;
        margin: 4% auto;
    }
    .showData > div:first-child {
        font-size: 14px;
        color: #666;
        margin-bottom: 2%;
    }
    .showData > div:nth-child(2) {
        display: flex;
    }
    .showData > div:nth-child(2) > div {
        flex: 1;
        border: 1px solid #e1e1e1;
        padding: 2% 0;
    }
    .showData > div:nth-child(2) > div:not(:last-child) {
        margin-right: 3%;
    }
    .showData > div:nth-child(2) > div p:last-child {
        text-align: center;
        font-size: 18px;
        color: #444;
    }
    .showData > div:nth-child(2) > div p:first-child {
        margin-bottom: 4%;
        text-align: center;
        font-size: 14px;
        color: #666;
    }
    #selectStore > option:first-child {
        display: none;
    }
</style>
<!--门店筛选-->
<div class="md fixedClear">
    <div>门店名称</div>
    <div>
        <select name="" id="selMerchant" class="current-store form-control" ng-change="changeStore(selectDefault)" ng-model="selectDefault" ng-options="m[0] as m[1] for m in myStore">
            <option value="" hidden></option>
        </select>
    </div>
    <!--<div>查询</div>-->
</div>
<!--验证码核销查询-->
<div class="yzmHx fixedClear">
    <div class="fixedClear">
        <div><img src="../../../../assets/styles/images/yzm.png" alt=""></div>
        <div>验证码核销通道</div>
    </div>
    <div>
        <input type="text" id="yzmInput" placeholder="请先选择门店再进行核销">
    </div>
    <div data-target="#AlertHX" data-toggle="modal">核销</div>
</div>

<!--二维码核销查询-->
<div>

</div>

<div class="showData">
    <div>今日核销</div>
    <div>
        <div>
            <p>今日核销</p>
            <p>{{daily.dailyCount}}</p>
        </div>
        <div>
            <p>验证码核销</p>
            <p>{{daily.dailyCount}}</p>
        </div>
        <div>
            <p>共消费</p>
            <p>{{daily.daliyPrice/100}}</p>
        </div>
    </div>
</div>
<div class="showData">
    <div>累计核销</div>
    <div>
        <div>
            <p>累计核销</p>
            <p>{{total.totalCount}}</p>
        </div>
        <div>
            <p>验证码核销</p>
            <p>{{total.totalCount}}</p>
        </div>
        <div>
            <p>共消费</p>
            <p>{{total.totalPrice/100}}</p>
        </div>
    </div>
</div>

<!--表格-->
<div class="panel panel-default">
    <table class="table ol-tab">
        <thead class="active">
            <tr>
                <td></td>
                <td>结算单价</td>
                <td>验证码核销（次）</td>
                <td>总计</td>
                <td>总计金额</td>
            </tr>
        </thead>
        <tbody ng-if="payWay==1||payWay==null||pawWay==2">
            <tr class="tr-empty" id="notData" hidden="true">
                <td class="text-center" colspan="8">暂无数据！</td>
            </tr>
            <tr class="tr-noEmpty" ng-repeat="o in productList" id="HaveData">
                <td ng-bind="o.productName"></td>
                <td ng-bind="o.productPrice/100"></td>
                <td ng-bind="o.checkCount"></td>
                <td ng-bind="o.checkCount"></td>
                <td ng-bind="o.totalPrice/100"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr style="background-color: #e4e4e4">
                <td>总核销数</td>
                <td>--</td>
                <td>{{allC}}</td>
                <td>{{allC}}</td>
                <td>￥{{allP}}</td>
            </tr>
        </tfoot>
    </table>
</div>
<!--确认核销提示框-->
<div class="modal fade" id="AlertHX">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">确认核销</h4>
            </div>
            <div class="modal-body">
                <h2 style="text-align: center;padding: 4% 0">是否确认核销该验证码？</h2>
            </div>
            <div class="modal-footer">
                <div class="clearfix btn-div text-center">
                    <button type="button" class="btn btn-warning"  ng-click="YZMHx()" data-dismiss="modal" data-target="#HXMsg" data-toggle="modal">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--核销msg提示框-->
<div class="modal fade" id="HXMsg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">确认核销</h4>
            </div>
            <div class="modal-body">
                <h2 style="text-align: center;padding: 4% 0" id="w-msg">{{errorMsg}}</h2>
            </div>
            <div class="modal-footer">
                <div class="clearfix btn-div text-center">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">确认</button>
                    <button type="button" class="btn btn-default" ng-click="hideBG()" ui-sref="hxInfo">查看明细</button>
                </div>
            </div>
        </div>
    </div>
</div>
