<!--查询表单-->
<form class="form-inline list-check">
    <div class="row">
        <div class="form-group col-md-6">
            <label>使用状态</label>
            <div class="input-group col-md-6">
                <select id="selectStatus" class="form-control">
                    <!--<option value="">请选择</option>-->
                    <option ng-repeat="x in myStore" value="{{x[0]}}">{{x[1]}}</option>
                </select>
                <span class="select-jiao"></span>
            </div>
        </div>
        <!--<div class="form-group col-md-6">-->
            <!--<label>使用状态</label>-->
            <!--<div class="input-group col-md-6">-->
                <!--<select id="selectStore" class="form-control">-->
                    <!--&lt;!&ndash;<option value="">请选择</option>&ndash;&gt;-->
                    <!--<option ng-repeat="x in myStore" value="{{x[0]}}">{{x[1]}}</option>-->
                <!--</select>-->
                <!--<span class="select-jiao"></span>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="row">
        <div class="form-group col-md-5">
            <label>电话</label>
            <input type="text" class="form-control" id="phone">
        </div>
        <div class="form-group col-md-5">
            <label>订单金额</label>
            <input type="text" class="form-control" id="orderMoney">
        </div>
        <div class="form-group col-md-2">
            &nbsp;&nbsp;
            <button type="button" class="btn btn-warning btn-check2" ng-click="searchByCriteria()">查询</button>
        </div>
    </div>
    <div class="row">

    </div>
</form>
<!--表格信息总结-->
<div class="row">
    <div class="col-md-10">
        <p class="ttl-add table-title">
            所选条件下，共有<span class="font-yellow" ng-bind="totalData[0][0]"></span>条记录，
            <span class="font-yellow" ng-bind="'￥'+totalData[0][1]/100.0"></span>个未核销，
            <span class="font-yellow" ng-bind="'￥'+totalData[0][2]/100.0"></span>个已核销，
        </p>
    </div>
</div>

<!--表格-->
<div class="panel panel-default">
    <table class="table ol-tab">
        <thead class="active">
            <tr>
                <td>团购名称</td>
                <td>订单编码</td>
                <td>团购ID</td>
                <td>订单类型</td>
                <td>数量</td>
                <td>用户昵称</td>
                <td>电话</td>
                <td>订单金额</td>
                <td>使用状态</td>
                <td>核销时间</td>
            </tr>
        </thead>
        <tbody ng-if="payWay!=3">
            <tr class="tr-empty" id="notData" hidden="true">
                <td class="text-center" colspan="8">暂无数据！</td>
            </tr>
            <tr class="tr-noEmpty" ng-repeat="o in orderList" id="HaveData">
                <td ng-bind="o.orderSid"></td>
                <td ng-bind="o.orderSid"></td>
                <td ng-bind="o.orderSid"></td>
                <td ng-bind="o.merchant.name"></td>
                <!--<td ng-show="x.leJiaUser==null||(x.leJiaUser!=null&&x.leJiaUser.name==null)">非会员</td>
                <td ng-show="x.leJiaUser!=null&&x.leJiaUser.name!=null">{{x.leJiaUser.id}}</td>-->
                <td ng-bind="o.payWay.payWay"></td>
                <td ng-bind="o.lepayCode"></td>
                <td>
                    <p ng-bind="o.completeDate|date:'yyyy-MM-dd HH:mm:ss'"></p>
                </td>
                <td ng-bind="'¥'+o.totalPrice/100.0"></td>
                <!--<td ng-show="o.rebateWay==0||o.rebateWay==2||o.rebateWay==4||o.rebateWay==5||o.rebateWay==6"><p ng-bind="'¥'+o.wxCommission/100.0"></p>
                </td>
                <td ng-show="o.rebateWay==3||o.rebateWay==1"><p>{{(100-o.merchant.ljCommission)/10}}折</p></td>-->
                <td ng-show="o.rebateWay==0||o.rebateWay==2||o.rebateWay==4||o.rebateWay==5||o.rebateWay==6"><p>普通订单</p>
                </td>
                <td ng-show="o.rebateWay==3||o.rebateWay==1"><p>乐加订单</p></td>
                <td>
                    <p ng-show="o.state=1">支付成功</p>
                    <p ng-show="o.state=0">未完成</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--分页-->
<div class=" clearfix">
    <nav class="pull-right">
        <a class="pull-right dcbg" ng-click="exportExcel()">导出表格</a>
        <ul class="pagination">
            <li ng-class="{disabled: page==1}" ng-click="loadPage(1)"><a>&laquo;</a></li>
            <li ng-class="{disabled: page==1}" ng-click="loadPage(page-1)">
                <a aria-label="Previous"><span aria-hidden="true">‹</span></a>
            </li>
            <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
            <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
            <li class="active" ng-click="loadPage(page)"><a>{{page}}</a></li>
            <li ng-show="page < totalPages" ng-click="loadPage(page + 1)"><a>{{page +
                1}}</a>
            </li>
            <li ng-show="page < totalPages - 1" ng-click="loadPage(page + 2)"><a>{{page +
                2}}</a>
            </li>
            <li ng-class="{disabled: page==totalPages||totalPages==0}"
                ng-click="loadPage(page+1)"><a aria-label="Next">
                <span aria-hidden="true">›</span>
            </a></li>
            <li ng-class="{disabled: page==totalPages||totalPages==0}"
                ng-click="loadPage(totalPages)"><a>&raquo;</a>
            </li>
        </ul>
    </nav>
</div>
