.imDataOverView{
    color: #fb991a;
    font-size: 30px;
}
.imDataOverView .nav>li>a {
    padding: 7px 0;
    width: 88px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.imDataOverView .nav>li:not(.active) {
    background-color: #eee;
    border-radius: 4px;
}
.imDataOverView .nav>li:not(.active)>a {
    color: #222;
}

.imBasicInfo .panel-body .row{
    line-height: 45px;
}
.imBasicInfo .panel-body .row .col-md-2{
    padding-left: 35px;
}
.imBasicInfo .panel-body .ttl2{
    font-size: 14px;
    color: #222;
    padding: 10px 0;
}
.imBasicInfo .panel-body .row .col-md-2{
    color: #666;
    font-size: 14px;
}
.imBasicInfo .panel-body .row .col-md-4{
    font-size: 14px;
    color: #333;
}

.infoManage .page-top > .panel-body:first-child{
    padding-bottom: 0;
}

.infoManage .page-top .left-icon{
    width: 24px;
    height: 24px;
    margin-top: 5px;
    display: inline-block;
    background: url("../../images/merchant_2/homePage/left-icon.png") no-repeat;
    background-size: 100% 100%;
    margin-right: 10px;
}
.infoManage .page-top .left-icon+span{
    cursor: pointer;
    font-size: 16px;
}
