<div class="cp-commissionDetail">
    <div class="panel panel-default page-top">
        <div class="panel-body clearfix">佣金明细</div>
    </div>
    <!--查询表单-->
    <form class="form-inline list-check">
        <div class="row">
            <div class="form-group col-md-4">
                <label>会员名称</label>
                <input id="userName" type="text" class="form-control">
            </div>

            <div class="form-group col-md-6">
                <label>消费时间</label>
                <div class="input-group timePicker col-md-9">
                    <input type="text" name="reservation" id="completeDate" class="form-control"/>
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label>联系方式</label>
                <input id="phoneNumber" type="tel" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label>消费门店</label>
                <input id="traderMerchantName" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label>锁定合伙人</label>
                <input id="lockPartnerName" type="text" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label>交易合伙人</label>
                <input id="traderPartnerName" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label>会员锁定门店</label>
                <input id="lockMerchantName" type="text" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <button type="button" class="btn btn-warning btn-check2" ng-click="searchByCriteria()">查询</button>
            </div>
        </div>
    </form>
    <div class="container-fluid">
        <!--表格信息总结-->
        <p class="ttl-add table-title">
            所选条件下，共有<span class="font-yellow" ng-bind="totalElements"></span>笔分润单，
            <span class="font-yellow">35</span>个锁定会员优惠。
            <span class="font-yellow">34</span>家锁定门店产生分润，
            消费<span class="font-yellow">3589</span>元，
            带来收入<span class="font-yellow">254</span>元。
        </p>
        <!--表格-->
        <div class="panel panel-default">
            <table class="table ol-tab">
                <thead class="active">
                <tr>
                    <td>消费时间</td>
                    <td>消费会员</td>
                    <td>消费门店</td>
                    <td>消费金额</td>
                    <td>锁定门店</td>
                    <td>锁定合伙人</td>
                    <td>交易合伙人</td>
                    <td>我的收入</td>
                </tr>
                </thead>
                <tbody>
                <tr class="tr-empty" id="notData"><td class="text-center" colspan="9" ng-show="pulls==null">暂无数据！</td></tr>
                <tr class="tr-noEmpty" id="HaveData" ng-repeat="x in pulls">
                    <td class="td-date">
                        <p ng-bind="x.offLineOrder.createdDate|date:'yyyy-MM-dd'"></p>
                        <p ng-bind="x.offLineOrder.createdDate|date:'HH:mm:ss'"></p>
                    </td>
                    <td class="wx icon-lock">
                        <p>
                            <span class="wx-faceImg"><img src="{{x.offLineOrder.leJiaUser.headImageUrl}}" alt=""></span>
                            <span ng-bind="x.offLineOrder.leJiaUser.userName"></span>
                        </p>
                        <p class="two-style" ng-bind="x.offLineOrder.leJiaUser.phoneNumber"></p>
                    </td>
                    <td class="icon-lock" ng-bind="x.tradeMerchant.name"></td>
                    <td><p ng-bind="'￥'+x.offLineOrder.totalPrice/100.0">)</p></td>
                    <td>
                        <p ng-bind="x.lockMerchant.name"></p>
                    </td>
                    <td>
                        <p ng-bind="x.lockPartner.name"></p>
                    </td>
                    <td>
                        <p ng-bind="x.tradePartner.name"></p>
                    </td>
                    <td ng-bind="'￥'+x.toLockPartnerManager/100.0"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--分页-->
        <div class=" clearfix">
            <nav class="pull-right">
                <ul class="pagination">
                    <li ng-class="{disabled: page==1}" ng-click="loadPage(1)"><a>&laquo;</a></li>
                    <li ng-class="{disabled: page==1}" ng-click="loadPage(page-1)">
                        <a aria-label="Previous"><span aria-hidden="true">‹</span></a>
                    </li>
                    <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                    <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                    <li class="active" ng-click="loadPage(page)"><a>{{page}}</a></li>
                    <li ng-show="page < totalPages" ng-click="loadPage(page + 1)"><a>{{page +
                        1}}</a>
                    </li>
                    <li ng-show="page < totalPages - 1" ng-click="loadPage(page + 2)"><a>{{page +
                        2}}</a>
                    </li>
                    <li ng-class="{disabled: page==totalPages||totalPages==0}"
                        ng-click="loadPage(page+1)"><a aria-label="Next">
                        <span aria-hidden="true">›</span>
                    </a></li>
                    <li ng-class="{disabled: page==totalPages||totalPages==0}"
                        ng-click="loadPage(totalPages)"><a>&raquo;</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
