<div class="POSTrade">
    <div class="panel panel-default page-top">
        <div class="panel-body clearfix">
            POS交易
            <ul class="nav nav-POSTrade">
                <li role="presentation" ng-class="{active:currentTab0}" ng-click="onClickTab()" ui-sref="tradeRecord"><a>交易记录</a></li>
                <li role="presentation" ng-class="{active:currentTab1}" ng-click="onClickTab()" ui-sref="myPOSTrade"><a>我的POS机</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid" ui-view="POSTradeTab"></div>
</div>
