<div class="commissonDetails">
    <div class="panel panel-default page-top">
        <div class="panel-body clearfix">
            佣金明细
        </div>
    </div>
    <div class="container-fluid">
        <!--查询表单-->
        <form class="form-inline list-check">
            <div class="row">
                <div class="form-group col-md-4">
                    <label>锁定会员门店</label>
                    <div class="input-group col-md-6">
                        <select id="selectStore" class="form-control">
                            <!--<option value="">请选择</option>-->
                            <option ng-repeat="x in myStore" value="{{x[0]}}">{{x[1]}}</option>
                        </select>
                        <span class="select-jiao"></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>交易完成时间</label>
                    <div class="input-group timePicker" style="width: 72%">
                        <input type="text" name="reservation" id="completeDate" class="form-control"/>
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    </div>
                </div>
                <div class="form-group col-md-1">
                    <button type="button" class="btn btn-warning btn-check2" ng-click="searchByCriteria()">查询</button>
                </div>
            </div>
        </form>
        <!--tab-->
        <div class=" top-style1">
            <div class="panel panel-default page-top">
                <div class="panel-body" style="padding-bottom: 35px;">
                    <ul class="nav nav-style">
                        <li role="presentation" ng-class="{active:currentTab0}" ng-click="onClickTab(0)"><a>线下消费收入</a></li>
                        <li role="presentation" ng-class="{active:currentTab1}" ng-click="onClickTab(1)"><a>线上消费收入</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--表格信息总结-->
        <p class="ttl-add table-title">
            筛选条件下共有<span class="font-yellow">{{commissionDetailsData.commissionDetailsCount}}</span>条记录，
            给您带来<span class="font-yellow">{{commissionDetailsData.commissionIncome / 100.0 | currency:'￥'}}</span>佣金收入
        </p>
        <!--表格-->
        <div class="panel panel-default">
            <table class="table ol-tab">
                <thead class="active">
                <tr>
                    <td>交易完成时间</td>
                    <td>微信信息</td>
                    <td>消费方式</td>
                    <td>会员锁定门店</td>
                    <td>消费金额</td>
                    <td>佣金收入</td>
                </tr>
                </thead>
                <tbody>

                <tr class="tr-empty"><td class="text-center" colspan="5" ng-show="commissionDetailsCriteria==null">暂无数据！</td></tr>
                <tr class="tr-noEmpty" ng-repeat="x in commissionDetailsCriteria" id="HaveData">
                    <td class="td-date">
                        <p ng-bind="x[0]|date:'yyyy-MM-dd'"></p>
                        <p ng-bind="x[0]|date:'HH:mm:ss'"></p></td>
                    <td><span class="wx-faceImg"><img ng-src="{{x[2]}}" alt=""></span>
                        <span>{{x[1]}}</span></td>

                    <td ng-show="{{consumeType==1}}">线下消费</td>
                    <td ng-show="{{consumeType==2}}">线上消费</td>

                    <td>
                        {{x[3]}}</td>
                    <td ng-bind="'¥'+x[4]/100.0"></td>
                    <td ng-bind="'¥'+x[6]/100.0"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--分页-->
        <div class=" clearfix">
            <nav class="pull-right">
                <ul class="pagination">
                    <li ng-class="{disabled: page==1}" ng-click="loadPage(1)"><a>&laquo;</a></li>
                    <li ng-class="{disabled: page==1}" ng-click="loadPage(page-1)">
                        <a aria-label="Previous"><span aria-hidden="true">‹</span></a>
                    </li>
                    <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                    <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                    <li class="active" ng-click="loadPage(page)"><a>{{page}}</a></li>
                    <li ng-show="page < totalPages" ng-click="loadPage(page + 1)"><a>{{page +
                        1}}</a>
                    </li>
                    <li ng-show="page < totalPages - 1" ng-click="loadPage(page + 2)"><a>{{page +
                        2}}</a>
                    </li>
                    <li ng-class="{disabled: page==totalPages||totalPages==0}"
                        ng-click="loadPage(page+1)"><a aria-label="Next">
                        <span aria-hidden="true">›</span>
                    </a></li>
                    <li ng-class="{disabled: page==totalPages||totalPages==0}"
                        ng-click="loadPage(totalPages)"><a>&raquo;</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
