<div class="yiBaoJieSuan top-style1">
    <div class="panel panel-default page-top">
        <div class="panel-body clearfix" style="padding-bottom: 15px">POS账单</div>
    </div>
    <div class="container-fluid">
        <!--查询表单-->
        <form class="form-inline list-check">
            <div class="row">
                <div class="form-group col-md-5">
                    <label>结算日期</label>
                    <input type="text" id="settleDate" class="form-control" style="width:200px">
                </div>
                <button type="button" class="btn btn-warning btn-check2" ng-click="searchSettlementByCriteria()">查询</button>
            </div>
        </form>
        <!--tab-->
        <div class=" top-style1">
            <div class="panel panel-default page-top">
                <div class="panel-body">
                    <ul class="nav nav-style">
                        <li role="presentation" ng-class="{active:currentTab0}" ng-click="onClickTab(0)"><a>银商POS结算记录</a></li>
                        <li role="presentation" ng-class="{active:currentTab1}" ng-click="onClickTab(1)"><a>乐+鼓励金结算记录</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--表格-->
        <div class="panel panel-default" style="margin-top: 20px">
            <table class="table ol-tab" ng-show="currentTab0">
                <thead class="active">
                <tr>
                    <td>结算日期</td>
                    <td>银商商户号</td>
                    <td>门店名称</td>
                    <td>往期未结算金额</td>
                    <td>交易金额</td>
                    <td>交易结算净额</td>
                    <td>本期未结算余额</td>
                    <td>实际划款余额</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody ng-show="importSettlements==null">
                <tr class="tr-empty"><td class="text-center" colspan="9">暂无数据！</td></tr>
                </tbody>
                <tbody ng-show="importSettlements!=null">
                <tr ng-repeat="imsel in importSettlements">
                    <td>{{imsel.settleDate|limitTo:4}}-{{imsel.settleDate|limitTo:2:4}}-{{imsel.settleDate|limitTo:-2}}</td>
                    <td>{{imsel.merNum}}</td>
                    <td>{{imsel.merName}}</td>
                    <td>{{imsel.pastNon}}</td>
                    <td>￥{{imsel.tradeTransfer}}</td>
                    <td>￥{{imsel.currentTransfer}}</td>
                    <td>￥{{imsel.currentNon}}</td>
                    <td>￥{{imsel.currentPay}}</td>
                    <td>￥{{imsel.merchantUserId}}</td>
                    <td><a ng-click="yinshangshowDetail(imsel.settleDate,imsel.merNum)">查看详情</a></td>
                </tr>
                </tbody>
            </table>
            <table class="table ol-tab" ng-show="currentTab1">
                <thead class="active">
                <tr>
                    <td>结算日期</td>
                    <td>门店名称</td>
                    <!--<td>银商POS鼓励金结算</td>-->
                    <td>总结算款</td>
                    <td>结算账户</td>
                    <td>状态</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody ng-show="settlements==null">
                <tr class="tr-empty"><td class="text-center" colspan="7">暂无数据！</td></tr>
                </tbody>
                <tbody ng-show="settlements!=null">
                <tr ng-repeat="sel in settlements">
                    <td>{{sel.tradeDate}}</td>
                    <td>{{sel.merchantName}}</td>
                    <!--<td>{{sel.trueScore}}</td>-->
                    <td>{{sel.transferMoney}}</td>
                    <td>
                        <p>{{sel.payee|limitTo:1}}**</p>
                        <p>{{sel.bankNumber|limitTo:4}}**** **** ***{{sel.bankNumber|limitTo:-4}}</p>
                    </td>
                    <td ng-show="sel.state==1">待转账</td>
                    <td ng-show="sel.state==2">已转账</td>
                    <td ng-show="sel.state==3">已挂账</td>
                    <td><a ng-click="gulijinshowDetail(sel.tradeDate,sel.merchant.id)">查看详情</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--分页-->
        <div class=" clearfix">
            <nav class="pull-right">
                <ul class="pagination">
                    <li ng-class="{disabled: page==1}" ng-click="loadPage(1)"><a>&laquo;</a></li>
                    <li ng-class="{disabled: page==1}" ng-click="loadPage(page-1)">
                        <a aria-label="Previous"><span aria-hidden="true">‹</span></a>
                    </li>
                    <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                    <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                    <li class="active" ng-click="loadPage(page)"><a>{{page}}</a></li>
                    <li ng-show="page < totalPages" ng-click="loadPage(page + 1)"><a>{{page +
                        1}}</a>
                    </li>
                    <li ng-show="page < totalPages - 1" ng-click="loadPage(page + 2)"><a>{{page +
                        2}}</a>
                    </li>
                    <li ng-class="{disabled: page==totalPages||totalPages==0}"
                        ng-click="loadPage(page+1)"><a aria-label="Next">
                        <span aria-hidden="true">›</span>
                    </a></li>
                    <li ng-class="{disabled: page==totalPages||totalPages==0}"
                        ng-click="loadPage(totalPages)"><a>&raquo;</a></li>
                </ul>
            </nav>
            <!--<a class="pull-right dcbg" href="#">导出表格</a>-->
        </div>
    </div>
</div>
