 <div class="accountManage">
    <div class="panel panel-default page-top">
        <div class="panel-body clearfix">账户管理</div>
    </div>
    <div class="container-fluid" id="content">
        <p class="ttl">基本信息</p>
        <div class="panel panel-default" id="baseInfo">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">商户名称</div>
                    <div class="col-md-4">{{loginInfo.merchantName}}</div>
                    <div class="col-md-2">商户联系人</div>
                    <div class="col-md-4">{{loginInfo.linkMan}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">登陆账号</div>
                    <div class="col-md-4">{{loginInfo.name}}</div>
                    <div class="col-md-2">登陆密码</div>
                    <div class="col-md-4">**********
                        <a class="changePassword a-btn" data-target="#changePassword" data-toggle="modal">修改</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">绑定手机号</div>
                    <div class="col-md-4">19283645367</div>
                </div>
            </div>
        </div>
        <p class="ttl">结算信息</p>

        <div class="panel panel-default">
            <div class="panel-body">
                <p class="ttl2">佣金结算账户</p>
                <div class="row">
                    <div class="col-md-2">银行账号</div>
                    <div class="col-md-4">****** ******** {{loginInfo.merchantBank.bankNumber| limitTo:-4 }}</div>
                    <div class="col-md-2">收款人</div>
                    <div class="col-md-4">{{loginInfo.merchantBank.payee}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">开户支行</div>
                    <div class="col-md-4">{{loginInfo.merchantBank.bankName}}</div>
                </div>
                <hr>
                <p class="ttl2">门店结算账户
                    <span class="select-style">
                        <select class="form-control select-inline-block" ng-model="x" id="selMerchant"
                                ng-change="getBankByMerchant()">
                            <option value="">门店选择</option>
                            <option value="{{m.id}}" ng-repeat="m in merchants">{{m.name}}</option>
                        </select>
                    </span>
                </p>
                <div class="row">
                    <div class="col-md-2">银行账号</div>
                    <div class="col-md-4">****** ******** {{bankInfo.bankNumber| limitTo:-4}}</div>
                    <div class="col-md-2">结算周期</div>
                    <div class="col-md-4"> T+1(提现申请后一个工作日内到账)</div>
                </div>
                <div class="row">
                    <div class="col-md-2">开户支行</div>
                    <div class="col-md-4">{{bankInfo.bankName}}</div>
                    <div class="col-md-2">收款人</div>
                    <div class="col-md-4">{{payee}}</div>
                </div>
            </div>
        </div>
        <!--账号信息-->
        <p class="ttl clearfix" id="p-accnoutInfo">账号信息
            <button class="btn btn-warning pull-right" data-target="#createAccount" data-toggle="modal" ng-show="merchantType==8">新建账号</button>
        </p>
        <div class="panel panel-default" id="div-accnoutInfo">
            <div class="panel-body">
                <ul id="myTab" class="nav nav-pills">
                    <li ng-class="{'active':accountInfoState0}" ng-click="accountInfoFun0()"><a
                        data-toggle="tab" id="iosTab">账号</a></li>
                    <li ng-class="{'active':accountInfoState1}" ng-click="accountInfoFun1()"><a
                        data-toggle="tab" id="homeTab">收银微信号</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div ng-class="{'active':accountInfoState0}" class="tab-pane fade in" id="home">
                        <!--表格-->
                        <div class="panel panel-default">
                            <table class="table ol-tab">
                                <thead class="active">
                                <tr>
                                    <td>账号类型</td>
                                    <td>用户名</td>
                                    <td>密码</td>
                                    <td>操作</td>
                                </tr>
                                </thead>
                                <tbody id="account">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-class="{'active':accountInfoState1}" class="tab-pane fade in" id="ios">
                        <!--表格-->
                        <div class="panel panel-default">
                            <table class="table ol-tab">
                                <thead class="active">
                                <tr>
                                    <td>账号类型</td>
                                    <td>用户名</td>
                                    <td>操作</td>
                                </tr>
                                </thead>
                                <tbody id="crasher">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--新建账户提示框-->
    <div class="modal fade" id="createAccount">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">新建账号</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group radio-style">
                            <label class="col-sm-3 col-sm-offset-1 control-label">角色</label>
                            <div class="col-sm-7">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="accountType"  checked value="1">收银员
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group radio-style">
                            <label class="col-sm-3 col-sm-offset-1 control-label">门店</label>
                            <div class="col-sm-7">
                                <div class="panel panel-default">
                                    <div class="radio-inline">
                                        <label>
                                            <input type="checkBox" id="checkAll" name="checkAll" value="-1" ng-click="checkAll()">&nbsp;全部门店
                                        </label>
                                    </div>
                                    <br>
                                    <div class="radio-inline" ng-repeat="m in merchants">
                                        <label>
                                            <input type="checkbox" name="checkMerchant" value="{{m.id}}"><span ng-bind="m.name"></span>
                                        </label>
                                        <span ng-show="$index%2!=0"><div></div></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-sm-offset-1 control-label">账户名称</label>
                            <div class="col-sm-4">
                                <input type="text" id="accountName" class="form-control" ng-blur="checkRepeat()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-sm-offset-1 control-label">账户密码</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" id="accountPwd">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-sm-offset-1 control-label">再次确认密码</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" id="rePwd">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-sm-offset-1 control-label">管理员登录密码</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" id="thisPwd">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="clearfix btn-div text-center">
                        <button type="button" class="btn btn-warning" ng-class="{disabled: srgl.thirNum<=200}" ng-click="saveAccount()">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--修改密码提示框-->
    <div class="modal fade" id="changePassword">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">修改密码</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputPassword1" class="col-sm-2 col-sm-offset-1 control-label">当前密码</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="inputPassword1" placeholder="密码由数字和字母组合，不少于6位">
                                <p class="text-muted small" style="visibility: hidden;color: #ff0000">密码不正确</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword2" class="col-sm-2 col-sm-offset-1 control-label">新密码</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="inputPassword2">
                                <p class="text-muted small tishi"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 col-sm-offset-1 control-label">确认新密码</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="inputPassword3">
                                <p class="text-muted small tishi">输入管理员登陆密码进行操作</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="clearfix btn-div text-center">
                        <button type="button" class="btn btn-warning" ng-class="{disabled: srgl.thirNum<=200}" ng-click="updatePwd()">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--修改密码提示框2-->
    <div class="modal fade" id="changePassword2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">修改密码</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-8 col-sm-offset-2 control-label">新密码</label><br>
                            <div class="col-sm-8 col-sm-offset-2">
                                <input type="password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-8 col-sm-offset-2 control-label">确认密码</label><br>
                            <div class="col-sm-8 col-sm-offset-2">
                                <input type="password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-8 col-sm-offset-2 control-label">管理员密码(输入管理员登录密码确认操作)</label><br>
                            <div class="col-sm-8 col-sm-offset-2">
                                <input type="password" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="clearfix btn-div text-center">
                        <button type="button" class="btn btn-warning" ng-class="{disabled: srgl.thirNum<=200}" ng-click="withDraw()">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--解除绑定-->
    <div class="modal fade" id="unbind">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">解除绑定</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">确认要将该账号解除绑定吗？</p>
                    <div>
                        <span class="icon-success wx-faceImg"><img src="../../../../../assets/styles/images/merchant_2/homePage/mechantHeadPic.png" alt=""></span>
                    </div>
                    <p class="text-center wx-nickname fontSize14">夜空中最亮的那颗星星</p>
                </div>
                <div class="modal-footer">
                    <div class="clearfix btn-div text-center">
                        <button type="button" class="btn btn-warning" ng-class="{disabled: srgl.thirNum<=200}" ng-click="withDraw()">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!--解除绑定提示框-->
     <div class="modal fade" id="jb-success">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header bg-warning">
                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                     <h4 class="modal-title">解除绑定</h4>
                 </div>
                 <div class="modal-body">
                     <div class="icon-success"></div>
                     <p class="text-center">解绑成功</p>
                 </div>
                 <div class="modal-footer">
                     <div class="clearfix btn-div text-center">
                         <button type="button" class="btn btn-warning" data-dismiss="modal">知道了</button>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</div>


