<div class="container-fluid content mrzd">
    <p class="ttl">每日账单</p>

    <!--查询表单-->
    <form class="form-inline">
        <div class="row">
            <div class="form-group col-md-6">
                <label>结算日期</label>
                <div class="input-group timePicker col-md-6">
                    <input type="text" id="timePicker1" class="form-control">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                </div>
            </div>
            <div class="form-group col-md-3">
                <button ng-click="searchByDate()" class="btn btn-warning btn-check">查询</button>
            </div>
        </div>
    </form>
    <div>
        <!--表格信息总结-->
        <p class="ttl-add text-right">
            <a class="table-download" ng-click="exportExcel()"><span class="iconfont icon-xiazai"></span>下载表格</a>
        </p>
        <!--表格-->
        <div class="panel panel-default">
            <table class="table">
                <thead class="active">
                <tr>
                    <td>结算日期</td>
                    <td>状态</td>
                    <td>到账金额</td>
                    <td>结算方式</td>
                    <td class="bank">银行卡（支付宝号）</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="financial in pulls">
                    <td>{{financial.balanceDate|date:'yyyy-MM-dd'}}</td>
                    <td ng-if="financial.state==1">已到账</td>
                    <td ng-if="financial.state==0">转账中</td>
                    <td ng-if="financial.state==2">已挂账</td>
                    <td>{{'￥'+(financial.transferPrice+financial.posTransfer+financial.appTransfer)/100}}</td>
                    <td>{{financial.merchant.merchantBank.bankName}}</td>
                    <td class="bank">{{financial.merchant.merchantBank.bankNumber}}</td>
                    <td><a ng-click="showDetail(financial.balanceDate)">查看详情</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--分页-->
    <div class=" clearfix">
        <!--<uib-pagination class="pagination-sm" ng-model="currentPage"-->
        <!--max-size="6"-->
        <!--items-per-page="numPerPage"-->
        <!--num-pages="pageNumber"-->
        <!--rotate="false"-->
        <!--boundary-links="true" total-items="totalItems"-->
        <!--ng-change="loadAll()"></uib-pagination>-->
        <nav class=" pull-right">
            <ul class="pagination">
                <li ng-class="{disabled: page==1}" ng-click="loadPage(1)"><a>&laquo;</a></li>
                <li ng-class="{disabled: page==1}" ng-click="loadPage(page-1)"><a aria-label="Previous">
                    <span aria-hidden="true">‹</span>
                </a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active" ng-click="loadPage(page)"><a>{{page}}</a></li>
                <li ng-show="page < totalPages" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a>
                </li>
                <li ng-show="page < totalPages - 1" ng-click="loadPage(page + 2)"><a>{{page +
                    2}}</a>
                </li>
                <li ng-class="{disabled: page==totalPages||totalPages==0}" ng-click="loadPage(page+1)"><a aria-label="Next">
                    <span aria-hidden="true">›</span>
                </a></li>
                <li ng-class="{disabled: page==totalPages||totalPages==0}" ng-click="loadPage(totalPages)"><a>&raquo;</a></li>
            </ul>
        </nav>
    </div>
</div>
