<div class="invitationCode top-style1">
    <div class="panel panel-default page-top">
        <div class="panel-body clearfix">
            会员邀请码
            <ul class="nav nav-style">
                <li role="presentation" ng-class="{active:currentTab0}" ng-click="onClickTab()" ui-sref="invitationRecord"><a>邀请记录</a></li>
                <li role="presentation" ng-class="{active:currentTab1}" ng-click="onClickTab()" ui-sref="myInvitationCode"><a>我的邀请码</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid" ui-view="invitationCodeTab"></div>
</div>
