.dlfw-main{width: 1133px;height: 1595px;background: url("../images/dlfw/1.jpg") no-repeat;}
.dlfw-main > button{background-color: #fb991a;position: absolute;top: 1624px;left:0;right:0;margin: auto;width: 100px}
#ljkt .modal-body p:first-child{width: 290px;margin:30px auto}
#ljkt .modal-body p:last-child{margin-bottom: 30px}
#ljkt .modal-body p:first-child >span:first-child{
    background: url("../images/dlfw/yes.png") no-repeat;background-size: 100% 100%;display: inline-block;width: 40px;height: 40px;
}
#ljkt .modal-body p:first-child >span:last-child{
    line-height: 40px;
    display: inline-block;
    margin-left: 10px;
}
