.navbar-default{
    border-radius: 0;
    background-color: #fff;
    margin-bottom: 0;
    margin-top: -1px;
    height: 68px;
}
.navbar-brand img{width: 100px}
.shouye .navbar-brand{padding: 19px 15px}
.shouye .navbar-brand img,.denglu .navbar-brand img{width: 250px}
.shouye-button{
    margin: 17px 30px 0 0;
}
.denglu{height: 68px}
.navbar-brand:first-child{
    padding: 19px 15px;
}
.navbar-brand:last-child{
    padding: 21px 15px;
}
.navbar-brand:last-child span:last-child{
    padding: 0 15px;
}
.navbar-default .navbar-nav{
    margin-right: 100px;
    height: 68px;
}
.navbar-default .container,.navbar-default .header,.navbar-collapse,.navbar-nav li,.navbar-nav li a{
    height: 66px;
}
.navbar-collapse .navbar-nav li a{
    line-height: 38px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #fb991a;
    color: #fff;
}
.navbar-default .navbar-nav>li{
    cursor: pointer;
}
.navbar-default .navbar-nav>li>a {
    color: #222;
}
.collapse .pull-right{
    cursor: pointer;
}
.dropdown h6{line-height: 47px;color: #666}
.dropdown h6 span:first-child{color: #666}
.dropdown-menu{
    top: 48px;
    padding: 0;
    margin: 0;
    height: 126px;
    left: -123px;
    min-width: 220px;
}
.dropdown-menu li{
    line-height: 30px
}
.dropdown-menu li:nth-of-type(1){
    border-bottom: solid 1px rgba(0,0,0,.15);
}
.dropdown-menu>li>a{
    padding-left: 75px;
    line-height: 55px;
}
.dropdown-menu>li:focus>a,.dropdown-menu>li:hover>a,.dropdown-menu>li:hover .icon-personal{
    color:#fb991a;text-decoration:none;
}
.icon-personal{position: absolute;left: 26px;font-weight: 500;font-size: 24px}
.icon-personal1{top: 13px}
.icon-personal2{top: 77px}
.head-dropdown span.jiao{
    width: 10px;
    height: 10px;
    border-left: solid 1px rgba(0,0,0,.15);
    border-top: solid 1px rgba(0,0,0,.15);
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 	/* IE 9 */
    -moz-transform:rotate(45deg); 	/* Firefox */
    -webkit-transform:rotate(45deg); /* Safari å’Œ Chrome */
    -o-transform:rotate(45deg); 	/* Opera */
    position: absolute;
    top:-6px;
    left:168px;
    z-index: -1;
    background-color: #fff;
}
/*.personalInfo show{display: block}*/
