.POSmanger tbody tr td{
    line-height: 54px !important;
}
.POSmanger table tr td{
    padding:15px 6px;
}
.POSmanger tbody tr td:nth-of-type(3){
    padding:20px 22px;
}
.POSmanger tr td:nth-of-type(6){
    width: 20%;
}
.POSmanger .text-style{
    line-height: 34px;
}
