.partner-home:not(:first-child){margin-top: 10px}
.partner-home .face-img{width: 80px;height: 80px;border-radius: 50%;overflow: hidden;border: solid 1px #e2e2e2;margin: auto}
.partner-home .face-img img{width: 80px;height: 80px;}
.partner-home .money-ttl{font-size: 16px;margin-bottom: 10px}
.partner-home .money-content span{font-size: 40px}
.partner-home .money-content input{width: 80px;margin:16px 30px 0}
.partner-home .money-content a{margin-top:21px;cursor: pointer}
.partner-home .col-md-2:first-child{margin-left: 20px}
.partner-home .ttl-top{margin-left: -24px}
.partner-home .ttl-top p:last-child{margin-left: -8px}
.bindWeixin{cursor: pointer}
.rvCode,.rvCode img{
    width: 240px;
    width: 240px;
    margin: auto;
}

/*交易明细*/
.home-div{
    width: 268px;
    height: 100px;
}
.home-div:after{
    display: block;
    clear: both;
    height: 0;
    content: '';
}
.home-div-left{
    float: left;
    width: 80px;
    height: 100px;
    position: relative;
}
.home-div-right{
    float: right;
    border: solid 1px #dcdcdc;
    border-left: none;
    width: 188px;
    height: 100px;
    padding:12px 0 0 20px;
}
.home-div-right h2{
    margin: 15px 0 2px 0;
    /*margin-bottom: 2px;*/
}
.home-div-right .tx{
    margin: 0 10px 0 0;
    cursor: pointer;
}
.home-div-right h5{
    color: #646464;
}
.home-div-right h2{
    color: #505050;
}
.home-div-left .home-icon{
    position: absolute;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}
.home-div-left1{
    background-color: #83c0ed;
}
.home-div-left .home-icon1{
    width: 47px;
    height: 48px;
    background: url("../images/wdlf/5.png") no-repeat;
}
.home-div-left2{
    background-color: #64dfcd;
}
.home-div-left .home-icon2{
    width: 43px;
    height: 52px;
    background: url("../images/wdlf/3.png") no-repeat;
}
.home-div-left3{
    background-color: #cb93de;
}
.home-div-left .home-icon3{
    width: 52px;
    height: 54px;
    background: url("../images/wdlf/4.png") no-repeat;
}
.home-div-left4{
    background-color: #fb991a;
}
.home-div-left .home-icon4{
    width: 40px;
    height: 54px;
    background: url("../images/wdlf/2.png") no-repeat;
}

.withDrawDetail .container-fluid > p {
    margin-top: 30px;
}
.withDrawDetail .container-fluid > p span {
    font-size: 14px;
    color: #939393;
    cursor: pointer
}
.withDrawDetail .container-fluid > p font {
    font-size: 16px;
    color: #fb991a;
}

/*营销账户*/
.content .marketingAccount .ttl{
    margin: 30px 0 20px 10px;
}
.content .marketingAccount .row{
    margin: 0 0;
    padding-bottom: 20px;
}
.marketingAccount .col-md-6{
    padding: 10px 0;
}
.marketingAccount .col-md-6:first-child{
    border-right: solid 1px #e1e1e1;
}
.marketingAccount .col-md-6 p{
    color: #646464;
    font-size: 16px;
    line-height: 45px;
}
.marketingAccount .col-md-6:first-child span{
    color: #e94643;
    font-size: 36px;
}
.marketingAccount .col-md-6:last-child span{
    color: #fb991a;
    font-size: 36px;
}
/*TOP5*/
.partner-home .num{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fb991a;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 20px;
    margin-right: 15px;
}
.partner-home{position: relative}
.partner-home .nav-pills{
    position: absolute;
    top:25px;
    right: 20px;
}
.partner-home .nav>li{
    cursor: pointer;
}
.partner-home .nav>li>a {
    padding: 9px 0;
    width: 88px;
    text-align: center;
}
.partner-home .nav>li:not(.active)>a {
    color: #222;
}
.partner-home .nav>li:not(.active){
    background-color: #eee;
    border-radius: 4px;
}
.partner-home .table>tbody>tr>td{
    padding: 6px 15px;
    font-size: 14px;
}
.partner-home .table>tbody>tr>td:first-child span:first-child{
    font-size: 12px;
}
.partner-home .table>tbody>tr>td,.partner-home .table>tbody>tr>td span{
    font-size: 14px;
}
.panel tbody tr:last-child {
    border-bottom: 0 !important;
}
.panel thead tr {
    border-bottom: 1px solid #ddd;
}
.btn-div {
    text-align: center;
}
.btn-div button:first-child {
    margin-right: 0;
}
.modal-title {
    margin-left: 10px;
}
.modal-body .text-center {
    margin-top: 5px;
    margin-bottom: 0 !important;
}

