.sy-banner{min-width: 1280px;max-width: 1920px;}
.banner1{background: url(/assets/styles/images/shouye/2.jpg) no-repeat center center;height: 600px;position: relative}
.banner1 .banner1-inner{position:relative;max-width: 1182px;height: 600px;background: url("../images/shouye/1.png") no-repeat center center;margin: 0 auto}
.banner1 button{position: absolute;top:320px;left:695px;}
.banner2{background: url(/assets/styles/images/shouye/3.jpg) no-repeat center center;height: 551px;}
.banner3{background: url(/assets/styles/images/shouye/4.jpg) no-repeat center center;height: 533px;}
.banner4{background: url(/assets/styles/images/shouye/5.jpg) no-repeat center center;height: 559px;}
.banner5{background: url(/assets/styles/images/shouye/6.jpg) no-repeat center center;height: 520px;}
.banner6{background: url(/assets/styles/images/shouye/7.jpg) no-repeat center center;height: 1070px;}
.banner7{background: url(/assets/styles/images/shouye/8.jpg) no-repeat center center;height: 682px;}
.shouye-container{padding: 0;}
.panel-footer{
    margin-top: 20px;background: #fff;border-top: none;padding-bottom: 20px;
}
.panel-footer p span.logo{
    display: inline-block;
    width: 84px;
    height: 27px;
    background: url("/assets/images/head/logo.png") no-repeat;
    background-size: 100% 100%;
    margin: 20px 0 3px;
}
