.chbx{
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    margin-right: 22px;
    margin-top: 1px;
    cursor: pointer;
}
.chbx input{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin-top: 0;
    opacity:0;
}
.chbx label{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    text-align: center;
    line-height: 17px;
    z-index: 1;
    margin-bottom: 0;
    margin-right: 0;
    /*display: none;*/
}
tbody .chbx{
    margin-top: 11px;
}
.chbx-init {
    background: #e5e5e5;
    border:solid 1px #cfd1d3;
    color: #e5e5e5;
}
.chbx-focus {
    color: #fff;
    font-size: 12px;
    content: '✔';
    border:solid 1px #fb991a;
    background: #fb991a;
}
.ffl1 .pffl-wxFace{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.ffl1 .pffl-top{
    margin-top: 6px;
    margin-left: -15px;
}
.ffl1 .modal-body{
    position: relative;
}
.ffl1 .pffl-right{
    position: absolute;
    width: 260px;
    height: 345px;
    top:0px;
    right: 20px;
    border-left: solid 1px #dbdbdb;
    background: url("../images/wdhy/mobile.png") no-repeat 10px 10px;
    background-size: 210px 315px;
}
.ffl1 .pffl-right ul{
    position: absolute;
    top:84px;
    left:18px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 30px 0 0 15px;
    list-style: none;
    overflow: hidden;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #5b5b5b;
}
.ffl1 .pffl-right ul span{
    color: #9e9e9e;
}
.ffl1 .modal-body .form-group > label{
    position: relative;
    width: 120px;
    margin-left: 35px;
    text-align: left;
}
.ffl1 .modal-body .form-group > label:before{
    content: "*";
    color: #FB991A;
    position: absolute;
    left: 0px;
    top: 10px;
}
.ffl1 .modal-body .row .col-sm-3{
    width: 90px;
    margin-right: -15px;
    padding: 1px 2px 1px 12px;
}
.ffl1 .modal-body .row .col-sm-4 {
    width: 175px;
}
.ffl1 .modal-body .row:first-child .col-sm-3 span{
    color: #e84644;
}
.ffl1 .modal-body .row:nth-child(3) .col-sm-3 span{
    color: #FB991A;
}

.ffl1 .modal-header,.ffl2 .modal-header  {
    border-bottom:none;
    height: 100px;
    position: relative;
}
#pffl .logo-img,#pffl-success .logo-img{
    width: 389px;
    height: 183px;
    background: url("../images/wdhy/pffl.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: -98px;
    left:0;
    right: 0;
    margin: auto;
}
#ffl .logo-img,#ffl-success .logo-img{
     width: 483px;
     height: 141px;
     background: url("../images/wdhy/ffl.png") no-repeat;
     background-size: 100% 100%;
     position: absolute;
     top: -75px;
     left:0;
     right: 0;
     margin: auto;
 }
.ffl2 .success-img{
    width: 80px;
    height: 80px;
    background: url("../images/wdhy/success.png") no-repeat;
    background-size: 100% 100%;
    margin: auto;
}
.ffl2 .success-ttl{
    font-size: 30px;
    color: #666666;
    line-height: 55px;
}
.ffl2 .success-fl{
    padding: 55px 90px;
}
.ffl2 .success-fl div{
    color: #666;
    font-size: 27px;
    padding-left: 50px;
}
.ffl2 .success-fl .pull-left{
    background: url("../images/wdhy/hb.png") no-repeat 10px 10px;
    background-size: 26px 22px;
}
.ffl2 .success-fl .pull-right{
    background: url("../images/wdhy/jf.png") no-repeat 10px 10px;
    background-size: 26px 22px;
}
.ffl3 .modal-body div{
    background: url("../images/wdhy/warning.png") no-repeat;
    background-size: 50px 50px;
    width: 380px;
    line-height: 50px;
    color: #666;
    font-size: 18px;
    margin: 60px auto;
    padding-left: 65px;
}

/*.wdhy tbody tr td{padding-bottom: 0}*/
.wdhy tbody tr td p{margin: 0}
.wdhy tbody tr td:nth-of-type(4){
    width: 110px;
}
.wdhy tbody tr td:nth-child(5),.wdhy tbody tr td:nth-child(6),.wdhy tbody tr td:nth-child(7),.wdhy tbody tr td:nth-child(4){
    line-height: 35px;
}
.wdhy tbody tr td:nth-child(4) {
    width: 120px;
}
.wdhy tbody tr td:nth-child(5) {
    width: 100px;
}
.wdhy tbody tr td:nth-child(2) {
    width: 150px;
    line-height: 40px;
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.wdhy tbody tr td:last-child{
    width: 75px;
    line-height: 35px;
}
.wdhy tbody tr td:nth-child(6){
    width: 90px;

}
.wdhy tbody tr td:first-child{
    width: 241px;
}
.wdhy tbody tr td:first-child span:nth-of-type(3){
    width: 100px;
    line-height: 20px;
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.wdhy tbody tr td:last-child a{
    color: #FB991A;
}
.wdhy .ttl-add {
    margin-bottom: 6px;
}
.wdhy .ttl-add .pull-left {
    margin-top: 6px;
}
.wdhy .w-margin {
    padding-top: 10px;
}
.wdhy .w-phone {
    color:#999;
}
.wdhy .w-cantCheck {
    background-color: #f0f0f0 !important;
    border: 1px solid #d9d9d9;
    color:#c5c5c5;
}
.close {
    margin: 4px 15px 0 0;
}
.w-pllMargin {
    padding-top: 0 !important;
    padding-left: 38px;
}
.w-pllTextarea {
    width: 92%;
}
.radio-inline:first-child {
    margin-left: -27px;
}
.radio-inline {
    padding-left: 0;
    margin-right: 34px;
}
.radio-inline:last-child {
    margin-right: 0px;
}
.w-cost {
    padding: 5px 0 10px 0;
}
.w-cost > div:last-child {
    color:#666;
}
.w-p {
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 330px;
    margin-left: -6px;
}
.w-costText {
    width: 100%;
    text-align: center;
    font-size: 21px;
    color:#666;
}
.modal-footer {
    padding: 22px;
}
.modal-footer .btn+.btn {
    margin-left: 16px;
}
.w-flTitle {
    position: absolute;
    margin-top: 9px;
    margin-left: 10px;
    font-size: 18px;
}
.btn {
    font-size: 16px;
}
.w-hb:focus {
    border-color: #e84644;
}
.w-ffla {
    margin: 30px 0 0 0;
}

/*邀请会员信息*/
.invite .row {
    margin: 25px 0 !important;
}
.line {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.line > div > div:first-child {
    border-right: 1px solid #dddddd;
}
.line p {
    text-align: center;
    font-size: 16px;
    color:#333;
    margin-bottom: 20px !important;
}
.line p > span {
    font-size: 30px;
}
.mg {
    padding-top: 20px;
}
.w-title {
    width: 100%;
}
.w-title > div:first-child{
    float: left;
}
.w-title > div:last-child{
    width: 20%;
    float: right;
    text-align: right;
    margin-top: 24px;
}
.tc {
    margin-bottom: 20px !important;
}
.w-download > div{
    float: left;
}
.w-download > div:first-child{
    margin: 16px 0 0 33px;
}
.w-download > div:nth-child(2){
    width: 30px;
    margin: 70px 0 0 10px;
}
.w-download > div:last-child{
    margin: 55px 0 0 10px;
    font-size: 16px;
    text-align: center;
}
.w-download:after {
    content: '\20';
    display: block;
    clear: both;
}
.setStyle > p{
    color:#999;
    text-align: center;
    font-size: 16px;
}
.setStyle > div {
    width: 87%;
    margin-left: 82px;
}
.hb {
    border-bottom: 1px solid #e1e1e1;
}
.hb > div:last-child > div,.jf > div:last-child > div {
    margin-bottom: 25px;
}
.setStyle > div > div {
    float: left;
    padding: 25px 0 0 0;
}
.setStyle > div > div:first-child {
    width: 16%;
    font-size: 18px;
}
.setStyle > div > div:last-child {
    width: 80%;
    font-size: 16px;
    margin-top: -2px;
}
.setStyle > div > div:last-child > div > input {
    width: 30% !important;
}
.setStyle > div > div:last-child > div > input[type=radio] {
    width: 5% !important;
}
.setStyle > div > div:last-child > div > p {
    width: 10% !important;
    display: inline;
    margin-right: 16px;
}
.w-z {
    margin: 0px 5px !important;
}
.form-control {
    display: inline !important;
}
.invite .w-invite tbody td:first-child {
    width: 470px;
}
.invite .w-invite tbody td:first-child .touxiang {
    margin-left: 30px;
}
.invite .w-invite thead td:first-child span {
    margin-left: 32px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f2f2f2;
    border: 1px solid #ebebeb;
}
.form-control {
    box-shadow: none;
}
.setStyle > div:after,.w-title:after,.mg:after {
    content: '\20';
    display: block;
    clear: both;
}

/*营销账户*/
.line {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.w-title {
    width: 100%;
}
.w-title > div:first-child{
    float: left;
}
.w-title > div:last-child{
    width: 40%;
    float: right;
    text-align: right;
    margin-top: 33px;
}
.btn-set > span {
    margin-right: 20px;
    font-size: 16px;
    color:#333;
}
.tc {
    margin-bottom: 20px !important;
}
.line > .row > div {
    padding: 22px 0;
    text-align: center;
}
.line > .row > div:first-child {
    border-right: 1px solid #dddddd;
}
.line > .row > div > p:last-child {
    font-size: 16px;
    color:#333;
}
.line > .row > div:first-child > p:first-child {
    font-size: 40px;
}
.line > .row > div > p:first-child > span {
    font-size: 20px;
    color:#333;
    margin-left: 5px;
}
.line > .row > div:last-child > p:first-child {
    font-size: 40px;
}
.rechargeStyle {
    padding: 40px 0;
}
.rechargeStyle > div {
    width: 80%;
    margin-left: 75px;
    font-size: 16px;
    color:#333;
}
.rechargeStyle  input {
    margin: 0 4%;
}
.w-maketing .form-control {
    display: inline !important;
    width: 40% !important;
}
.re > div {
    margin-bottom: 30px;
}
.re > div:first-child {
    color:#f54339;
}
.re > div:first-child input:focus {
    border: 1px solid #f54339;
}
.re > div:last-child {
    color:#fb991a;
    margin-bottom: 0px;
}
.success > div > div {
    float: left;
}
.success > div > div:last-child {
    margin:16px 0 0 15px;
    font-size: 20px;
    color:#333;
}
.success > div {
    width: 285px;
    margin: 0 auto;
}
.success p {
    text-align: center;
    margin-top: 28px;
    color:#666;
}
.w-ffhb {
    font-size: 14px !important;
    margin-left: 20px;
    position: absolute;
    right: 74px;
    margin-top: -40px;
}
.w-makeMargin {
    margin-left: -100px;
}
.success > div:after,.w-title:after {
    content: '\20';
    display: block;
    clear: both;
}
