/*.content{height: 100vh}*/
.content .ttl{margin:30px 0 30px 10px;padding-left: 10px;border-left: solid 3px #fb991a;font-size: 16px}
.content .row{margin: 25px 0}
.changePassword{cursor: pointer;}
#changePassword label{position: relative;text-align: left;width: 17%;}
#changePassword label:before{content: "*";color: red;position: absolute;left: 0px;top: 10px;}
#changePassword .label-last:before{content: '\20' !important;}
.zhsz .panel-body{padding: 0 15px}
.zhsz .changePassword{margin-left: 34px}
.tishi{color: #909090;margin-top: 10px}
.bdwx .col-md-9 span:first-child{width: 40px;height: 40px;border-radius: 50%;overflow: hidden;display: inline-block;margin-top: -10px}
.bdwx .col-md-9 span:first-child img{width: 40px;height: 40px;}
.bdwx .col-md-9 span:last-child,.bdwx .col-md-9 a{margin-bottom: 20px}
.weixinFace,.weixinFace img{width: 110px;height: 110px;overflow: hidden;border-radius: 50%;margin: auto}
.weixinFace{margin: 20px auto 10px}
