.content{height: 100vh}
.content .ttl{margin:40px 0 40px 10px;padding-left: 10px;border-left: solid 3px #fb991a;}
.content .row{margin: 40px 0}
.changePassword{cursor: pointer;}
#changePassword label{position: relative;text-align: left;width: 20%;}
#changePassword label:before{content: "*";color: red;position: absolute;left: 0px;top: 10px;}