<div class="container content main-content partner-home">
    <div class="container-fluid">
        <p class="ttl">基本信息</p>

        <div class="row">
            <div class="col-md-2">
                <div class="face-img">
                    <img src="../../../../assets/styles/images/head/touxiang.png" alt="">
                </div>
                <h5 class="text-center">{{account.login}}</h5>
            </div>
            <div class="col-md-8 ttl-top">
                <p class="money-ttl">账户佣金余额</p>

                <p class="money-content clearfix">
                    <span class="pull-left">￥{{available}}</span>
                    <input type="button" class="btn btn-warning btn-sm pull-left tx" ng-click="tx()"
                           value="提现">
                    <a class="pull-left" onclick="alert('暂无提现详情！')">查看提现详情</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container content main-content partner-home">
    <div class="container-fluid">
        <p class="ttl">交易明细</p>

        <div class="row">
            <div class="col-md-3">
                <div class="home-div">
                    <div class="home-div-left home-div-left1">
                        <div class="home-icon home-icon1"></div>
                    </div>
                    <div class="home-div-right">
                        <h5>今日绑定会员数</h5>

                        <h2 ng-bind="dayBindLeJiaUser"></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="home-div">
                    <div class="home-div-left home-div-left2">
                        <div class="home-icon home-icon2"></div>
                    </div>
                    <div class="home-div-right">
                        <h5>今日佣金输入</h5>

                        <h2 ng-bind="'¥'+dayCommission"></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="home-div">
                    <div class="home-div-left home-div-left3">
                        <div class="home-icon home-icon3"></div>
                    </div>
                    <div class="home-div-right">
                        <h5>累计佣金输入</h5>

                        <h2 ng-bind="'¥'+total"></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="home-div">
                    <div class="home-div-left home-div-left4">
                        <div class="home-icon home-icon4"></div>
                    </div>
                    <div class="home-div-right">
                        <h5>人均佣金收入</h5>

                        <h2 ng-bind="'¥'+perCommission"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container content main-content partner-home">
    <div class="container-fluid">
        <p class="ttl">锁定明细</p>

        <div class="row">
            <div class="col-md-6">
                <p>锁定商户</p>

                <p><font size="6" color="#333">{{bindMerchant}}</font>/{{merchantLimit}}</p>

                <div class="progress">
                    <div class="progress-bar progress-bar-warning progress-bar1" role="progressbar"
                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p>锁定会员</p>

                <p><font size="6" color="#333">{{bindLeJiaUser}}</font>/{{userLimit}}</p>

                <div class="progress">
                    <div class="progress-bar progress-bar2" role="progressbar" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container content main-content partner-home">
    <div class="container-fluid clearfix">
        <p class="ttl">商户<font size="4">TOP5</font></p>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a>佣金</a></li>
            <li role="presentation"><a>锁定会员</a></li>
            <li role="presentation" ng-class="{active:currentTab2}"><a>累计流水</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="panel panel-default">
                    <table class="table ol-tab">
                        <thead class="active">
                        <tr>
                            <td>商户名称</td>
                            <td>商户佣金收入</td>
                            <td>我的佣金收入</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in homeTab">
                            <td ng-show="x.rebateWay!=0">
                                <span class="num" ng-bind="$index+1"></span>
                                <span ng-bind="x[0]"></span>
                            </td>
                            <td ng-bind="'¥'+x[2]/100"></td>
                            <td ng-bind="'¥'+x[1]/100"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane">
                <div class="panel panel-default">
                    <table class="table ol-tab">
                        <thead class="active">
                        <tr>
                            <td>商户名称</td>
                            <td>商户锁定会员</td>
                            <td>商户会员上限</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in homeTab">
                            <td ng-show="x.rebateWay!=0">
                                <span class="num" ng-bind="$index+1"></span>
                                <span ng-bind="x[0]"></span>
                            </td>
                            <td ng-bind="x[1]"></td>
                            <td ng-bind="x[2]"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane">
                <div class="panel panel-default">
                    <table class="table ol-tab">
                        <thead class="active">
                        <tr>
                            <td>商户名称</td>
                            <td>商户累计流水</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in homeTab">
                            <td ng-show="x.rebateWay!=0">
                                <span class="num" ng-bind="$index+1"></span>
                                <span ng-bind="x[0]"></span>
                            </td>
                            <td ng-bind="'¥'+x[1]/100"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--表格-->
</div>
    <!--提现提示框-->
    <div class="modal fade" id="tx">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">提现余额 <span>佣金余额：<font color="#fb991a">{{available}}</font>元</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputPassword1"
                                   class="col-sm-3 col-sm-offset-1 control-label">提现金额（元）</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="inputPassword1"
                                       placeholder="请输入金额">

                            </div>
                            <div class="col-sm-3"><span class="ts">至少提现200元</span></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-sm-offset-1 control-label">结算账户</label>

                            <div class="col-sm-7">
                                <p class="text-muted" class="form-control">
                                    xxxxxxxxxxxxxxxxxxx{{bank}}</p>

                                <p class="text-muted" class="form-control">{{payee}}</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn-div">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消
                        </button>
                        <button type="button" class="btn btn-warning  "
                                ng-class="{disabled: available<=200}" ng-click="withDraw()">确认
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
