.accountManage .panel-body .row{
    line-height: 45px;
}
.accountManage .panel-body .row .col-md-2{
    padding-left: 35px;
}
.accountManage .panel-body .ttl2{
    font-size: 14px;
    color: #222;
    padding: 10px 0;
}
.accountManage .panel-body .row .col-md-2{
    color: #666;
    font-size: 14px;
}
.accountManage .panel-body .row .col-md-4{
    font-size: 14px;
    color: #333;
}
.accountManage select.form-control{
    margin-left: 20px;
}
.accountManage .panel-body hr{
    margin: 20px 0;
}

.accountManage .nav-pills{margin-bottom: 25px;}
.accountManage .nav-pills>li>a,.accountManage .nav-pills>li>a:focus,.accountManage .nav-pills>li>a:hover {
    background-color: #fff;
    color: #666;
    border:solid 1px #d9d9d9;
}
.accountManage .nav-pills>li.active>a,.accountManage .nav-pills>li.active>a:focus,.accountManage .nav-pills>li.active>a:hover {
    background-color: #fff;
    color: #fb991a;
    border:solid 1px #fb991a;
}
.accountManage .nav>li>a {
    position: relative;
    display: block;
    padding: 5px 15px;
    cursor: pointer;
}
.accountManage .nav-pills>li+li {
    margin-left: 0px;
}
.accountManage .nav-pills>li:first-child>a {
    border-radius: 4px 0 0 4px;
}
.accountManage .nav-pills>li:last-child>a {
    border-radius:  0 4px 4px 0;
}

.accountManage .changePassword{margin-left: 10px}
.accountManage #createAccount .radio-inline{
    padding-left: 0;
}
.accountManage .radio-left{
    margin-left: 21px;
}

.accountManage #changePassword label{position: relative;text-align: left;width: 17%;}
.accountManage #changePassword label:before{content: "*";color: red;position: absolute;left: 0px;top: 10px;}
.accountManage #changePassword .label-last:before{content: '\20' !important;}

.accountManage #changePassword2 .form-horizontal .control-label{
    text-align: left;
}
.accountManage #changePassword2 label{
    line-height: 30px;
}
.accountManage #unbind .wx-faceImg{
    display: block;
    margin: 10px auto;
    height: 100px;
    width: 100px;
}
.accountManage #unbind p:first-child{
    line-height: 55px;
}
.accountManage #div-accnoutInfo{padding: 20px 50px 0}

.accountManage #jb-success .modal-body .icon-success {
    width: 60px;
    height: 60px;
    background: url("../../../../assets/styles/images/merchant_2/homePage/success.png") no-repeat;
    background-size: 100% 100%;
    margin: 20px auto 10px;
}




