.invitationCode hr{
    margin: 35px 0;
}
.invitationCode .merchant-data{
    margin-top: 15px;
}

/*扫码交易*/
.invitationCode .haibao{
    width: 165px;
    height: 240px;
    background: url("../../images/merchant_2/commissionIncome/haibao.png") no-repeat;
    background-size: 100% 100%;
    border:solid 1px #e8e8ec;
    margin: 10px auto;
    position: relative;
}
.invitationCode .haibao .rvCode{
    width: 70px;
    height: 70px;
    margin: 102px auto 2px;
}
.invitationCode .haibao .rvCode img{
    width: 100%;
    height: 100%;
}
.invitationCode .haibao .download-code{
    width: 100%;
    height: 36px;
    line-height: 36px;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    left:0;
    bottom: 0;
    display: none;
    color: #333;
    cursor: pointer;
}
.invitationCode .haibao .download-code span{
    color: #333;
    margin-right: 5px;
}
.invitationCode .haibao:hover .download-code{
    display: block;
}
.invitationCode .myCode .col-md-3{
    margin-top: 20px;
}
